button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid #DDD;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 0.1875em;
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 50%; }
  .progress-bar > span.meter {
    -webkit-animation: progress 0.7s linear infinite;
    -moz-animation: progress 0.7s linear infinite;
    animation: progress 0.7s linear infinite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #049cdb;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: 1px solid #036690;
    border-radius: 0.125em;
    display: block;
    height: 100%;
    width: 60%; }

@-webkit-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@-moz-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@-ms-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@-o-keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
@keyframes progress {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 40px 0; } }
.select .select-dropdown li.active:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.intro {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  margin-top: -12em;
  max-width: 28em; }
  .intro:after {
    content: "";
    display: table;
    clear: both; }
  .intro h1 {
    font-size: 4em;
    margin-bottom: 0.22222em; }
    .intro h1 i {
      margin-right: .25em;
      color: #049cdb; }
  .intro h2 {
    font-size: 2.5em;
    margin-bottom: 0.83333em; }
  .intro h1,
  .intro h2 {
    text-align: center; }
    .intro h1 i,
    .intro h2 i {
      margin-right: .2em; }
  .intro input {
    font-size: 1.5em;
    width: 100%; }
  .intro input[type="email"] {
    margin-bottom: .2em; }
  .intro .view-animate {
    position: absolute;
    width: 100%; }
  .intro .error-feedback,
  .intro .notice-feedback {
    margin-top: 1em;
    text-align: center; }

.loader {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 18em;
  max-width: 28em;
  text-align: center; }
  .loader:after {
    content: "";
    display: table;
    clear: both; }
  .loader span,
  .loader i {
    font-size: 1.5em; }

body {
  margin: 0;
  background-color: #e6e6e6;
  color: #333; }
  body h1,
  body h2,
  body h3,
  body h4 {
    font-weight: normal; }

div.layout {
  position: absolute;
  height: 100%;
  width: 100%; }
  div.layout > header {
    width: 100%;
    height: 4em;
    min-width: 40em;
    background-color: #1a1a1a;
    position: fixed;
    z-index: 10000; }
    div.layout > header .title,
    div.layout > header .search {
      color: #DDD;
      font-size: 2em;
      position: relative;
      float: left; }
    div.layout > header .title {
      background-color: #262626;
      width: 20.83333%;
      padding: 0.25em 0.5em; }
      div.layout > header .title span {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    div.layout > header .search {
      width: 54.16667%;
      min-height: 100%;
      padding: 0.25em 1em;
      margin-left: 0.4em; }
      div.layout > header .search i {
        position: absolute;
        top: .5em;
        left: .1em;
        margin-right: .3em;
        color: #666666; }
      div.layout > header .search input {
        line-height: 1.45em;
        margin: 0;
        padding: 0 .3em;
        background: none;
        border: 0;
        box-shadow: none;
        color: #DDD;
        border-radius: 0; }
        div.layout > header .search input:-webkit-autofill {
          -webkit-box-shadow: 0 0 0 50px #1a1a1a inset;
          -webkit-text-fill-color: #DDD; }
  div.layout > aside,
  div.layout > .main {
    top: 4em; }
  div.layout > aside {
    width: 20.83333%;
    background-color: #404040;
    position: fixed;
    min-height: 100%;
    color: #aaaaaa;
    z-index: 2; }
    div.layout > aside .modules {
      display: block;
      padding: 0.66667em 0.45em;
      min-height: 4em;
      max-height: 4em;
      vertical-align: middle;
      overflow: hidden; }
      div.layout > aside .modules:after {
        content: "";
        display: table;
        clear: both; }
      div.layout > aside .modules li {
        float: left;
        font-size: 1.8em;
        padding: 0 .25em;
        margin-left: .15em;
        min-width: 1.6em;
        text-align: center;
        border-radius: .25em; }
        div.layout > aside .modules li:hover {
          cursor: pointer;
          background: #666666;
          color: #fff; }
        div.layout > aside .modules li.active {
          background: #000;
          color: #049cdb; }
        div.layout > aside .modules li i.reporter:before {
          content: '\f0f6'; }
        div.layout > aside .modules li i.runner:before {
          content: '\f04b'; }
        div.layout > aside .modules li i.organizer:before {
          content: '\f114'; }
        div.layout > aside .modules li i.writer:before {
          content: '\f040'; }
    div.layout > aside .sections li {
      display: block;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: 0.3em 0.6em;
      font-size: 1.2em;
      border-left: 0.3em solid #404040; }
      div.layout > aside .sections li:after {
        content: "";
        display: table;
        clear: both; }
      div.layout > aside .sections li:hover, div.layout > aside .sections li.active {
        color: #fff;
        background-color: #666666; }
      div.layout > aside .sections li:hover {
        cursor: pointer;
        border-color: #aaaaaa; }
      div.layout > aside .sections li.active {
        border-color: #049cdb; }
    div.layout > aside h1 {
      font-size: 2em;
      display: block;
      padding: 0.25em 0.5em;
      background: #262626;
      color: #666666; }
  div.layout > .main {
    margin-left: 20.83333%;
    position: relative; }

.top-filter {
  cursor: pointer;
  min-height: 4em;
  max-height: 4em;
  padding: 0 1em;
  background: #c4c4c4;
  color: #262626;
  white-space: nowrap; }
  .top-filter.active {
    background: #049cdb;
    color: #fff; }
    .top-filter.active .select button {
      background: none;
      border: #fff 0.1em solid; }
      .top-filter.active .select button span {
        color: #fff; }
    .top-filter.active .actions {
      opacity: 1;
      width: auto;
      overflow: visible; }
  .top-filter.ic {
    padding-left: 3.51563em; }
  .top-filter > .filters {
    float: left; }
    .top-filter > .filters > i {
      margin: 0.55556em 0 0 0.25em;
      font-size: 1.95em;
      line-height: 1; }
      .top-filter > .filters > i.inactive {
        margin-left: 0.25em;
        margin-right: 0;
        color: #404040; }
        .top-filter > .filters > i.inactive:hover {
          color: #262626; }
  .top-filter > .actions {
    float: right;
    opacity: 0;
    width: 0;
    overflow: hidden; }
  .top-filter > div > span,
  .top-filter > div > div,
  .top-filter > div > i,
  .top-filter > div > button {
    float: left; }
  .top-filter > i {
    position: absolute;
    left: 0.53333em;
    top: 0.5em;
    font-size: 2em;
    color: #404040; }
  .top-filter > div > span {
    margin: 0.55556em 0.25em;
    font-size: 1.5em;
    line-height: 1.5em; }
  .top-filter > div .select button {
    background: #DDD;
    border: #DDD 0.1em solid;
    font-size: 1.4em;
    margin-top: 0.35em;
    padding: 0.25em 0.5em; }
    .top-filter > div .select button span {
      color: #049cdb; }
  .top-filter > div button {
    background: #333;
    border: none;
    margin-top: 0.45em;
    font-size: 1.4em;
    padding: 0.25em 1em; }
    .top-filter > div button span {
      line-height: 1.5em; }
  .top-filter > div > button:hover {
    background: #1a1a1a; }

.main-content-list {
  margin-bottom: 6em; }
  .main-content-list li.cl > div {
    cursor: pointer;
    position: relative;
    padding: 0 1em;
    color: #262626;
    margin-top: 2px; }
    .main-content-list li.cl > div.active, .main-content-list li.cl > div:hover {
      background: #049cdb;
      color: #fff; }
    .main-content-list li.cl > div > i {
      color: #404040; }
    .main-content-list li.cl > div > span,
    .main-content-list li.cl > div > div {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
  .main-content-list li.ic > div {
    padding-left: 3.51563em; }
  .main-content-list li.cl > div > i {
    position: absolute; }
  .main-content-list > li.cl {
    border-top: #f7f7f7 2px solid;
    background: #f7f7f7; }
    .main-content-list > li.cl > div {
      min-height: 3.16128em;
      max-height: 3.16128em;
      background: #d0d0d0;
      margin-top: 0; }
      .main-content-list > li.cl > div.active, .main-content-list > li.cl > div:hover {
        background: #049cdb; }
      .main-content-list > li.cl > div > i {
        left: 0.66667em;
        top: 0.4em;
        font-size: 1.778em; }
      .main-content-list > li.cl > div > span {
        font-size: 1.333em;
        line-height: 1.333em;
        padding: 0.45707em 0; }
    .main-content-list > li.cl > ul li.cl {
      background: #d0d0d0; }
      .main-content-list > li.cl > ul li.cl > div {
        min-height: 2.61792em;
        max-height: 2.61792em;
        background: #eaeaea; }
        .main-content-list > li.cl > ul li.cl > div.active, .main-content-list > li.cl > ul li.cl > div:hover {
          background: #049cdb; }
        .main-content-list > li.cl > ul li.cl > div > i {
          left: 0.93333em;
          top: 0.25em;
          font-size: 1.778em; }
        .main-content-list > li.cl > ul li.cl > div > span {
          font-size: 1.2em;
          line-height: 1.2em;
          padding: 0.47264em 0; }
      .main-content-list > li.cl > ul li.cl > ul {
        opacity: .5;
        height: 0;
        overflow: hidden; }
        .main-content-list > li.cl > ul li.cl > ul.expand {
          opacity: 1;
          height: auto; }
        .main-content-list > li.cl > ul li.cl > ul li.cl > div {
          background: #f7f7f7;
          padding-top: 1px;
          margin-top: 1px; }
          .main-content-list > li.cl > ul li.cl > ul li.cl > div.active, .main-content-list > li.cl > ul li.cl > ul li.cl > div:hover {
            background: #049cdb; }
        .main-content-list > li.cl > ul li.cl > ul li.cl:first-child > div {
          margin-top: 0; }

.select {
  position: relative; }
  .select button {
    text-align: left;
    border: #DDD 0.1em solid;
    position: relative; }
    .select button.active span {
      min-width: 10em; }
    .select button i {
      position: absolute;
      right: 0.6em;
      top: 25%;
      margin-left: 0.4em;
      color: #262626; }
    .select button span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: 0;
      margin-right: 1.2em;
      max-width: 10em; }
  .select .select-dropdown {
    position: absolute;
    text-align: left;
    color: #666666;
    font-weight: normal;
    font-size: 1.1em;
    left: 0;
    top: 2.67273em;
    background: #fff;
    width: 100%;
    padding: 0.4em 0;
    border: #c4c4c4 0.1em solid;
    z-index: 2; }
    .select .select-dropdown ul {
      max-height: 12em;
      overflow-y: auto; }
    .select .select-dropdown li {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding: .3em 1em; }
      .select .select-dropdown li:hover, .select .select-dropdown li.active {
        color: #049cdb; }
      .select .select-dropdown li:hover {
        background: #f2f2f2;
        cursor: pointer; }
      .select .select-dropdown li.active:after {
        line-height: inherit;
        content: '\f00c';
        color: #666666;
        float: right; }

.pagination {
  text-align: center;
  position: fixed;
  left: 20.83333%;
  right: 0;
  bottom: 2em; }

input[type="submit"].primary,
button.primary {
  background-color: #049cdb;
  color: #fff; }
  input[type="submit"].primary:hover,
  button.primary:hover {
    background-color: #0378a9;
    color: #e6e6e6; }
input[type="submit"]:disabled,
button:disabled {
  opacity: .3;
  cursor: default; }

.fa-spin {
  -webkit-animation: spin 1.4s infinite linear;
  -moz-animation: spin 1.4s infinite linear;
  animation: spin 1.4s infinite linear; }

input.ng-invalid {
  border-color: #d94637;
  background-color: #fef9f8;
  box-shadow: inset 0 1px 8px #f2bdb8, 0 0 8px #f2bdb8; }

.error-feedback {
  display: block;
  padding: .5em;
  background-color: #d94637;
  border-radius: 0.1875em;
  color: #e6e6e6; }

.notice-feedback {
  display: block;
  padding: .5em;
  background-color: #ffc40d;
  border-radius: 0.1875em;
  color: #333; }

.select button {
  border-radius: .45em; }
  .select button:focus {
    outline: 0; }
.select .select-dropdown {
  border-radius: .3em;
  position: absolute;
  background: #fff;
  border: 0.1em solid #c4c4c4; }
  .select .select-dropdown:after, .select .select-dropdown:before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none; }
  .select .select-dropdown:after {
    border-color: rgba(119, 100, 213, 0);
    border-bottom-color: #fff;
    border-width: 0.5em;
    left: 50%;
    margin-left: -0.5em;
    z-index: 3; }
  .select .select-dropdown:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c4c4c4;
    border-width: 0.5em;
    left: 50%;
    margin-left: -0.5em;
    z-index: 2; }

button {
  background-color: #049cdb;
  color: #fff; }
  button:hover {
    background-color: #0378a9;
    color: #e6e6e6; }
  button.secondary {
    background-color: #333; }
    button.secondary:hover {
      background-color: #1a1a1a; }

@media screen and (max-width: 67em) {
  div.layout > header .title {
    width: 7em; }
  div.layout > aside {
    width: 14em; }
  div.layout > .main {
    left: 14em; } }
@media screen and (max-width: 94em) {
  .main-content-list.filter-2,
  .top-filter.filter-2 {
    min-width: 60em; }

  .top-filter.filter-2 .filters > i {
    display: inline-block; }
    .top-filter.filter-2 .filters > i.show {
      margin: 0.55556em -0.25em 0 0.25em; }
  .top-filter.filter-2 .filters > span {
    width: 0;
    opacity: 0; }
  .top-filter.filter-2 .select button span {
    max-width: 6.66667em; }
  .top-filter.filter-2 .select button.active span {
    min-width: 6.66667em; } }
div.layout > header .title {
  padding-right: 0.66667em; }
  div.layout > header .title:after {
    background-color: #262626;
    height: 100%;
    width: 1em;
    position: absolute;
    right: -0.4em;
    top: 0;
    content: ' ';
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    transform: skew(-20deg, 0deg); }
div.layout > header .search {
  margin-left: 1.6em; }
  div.layout > header .search i {
    left: -.7em; }
  div.layout > header .search:before {
    background-color: #1a1a1a;
    border-right: #262626 3px solid;
    height: 100%;
    width: 1.6em;
    position: absolute;
    left: -1em;
    top: 0;
    content: ' ';
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    transform: skew(-20deg, 0deg); }
div.layout > header .title,
div.layout > header .search {
  -webkit-transition: opacity linear 1s;
  -moz-transition: opacity linear 1s;
  transition: opacity linear 1s;
  opacity: 1; }
  div.layout > header .title.ng-hide,
  div.layout > header .search.ng-hide {
    opacity: 0; }
div.layout > aside {
  -webkit-transition: left cubic-bezier(0, 0, 0.2, 1) 0.5s;
  -moz-transition: left cubic-bezier(0, 0, 0.2, 1) 0.5s;
  transition: left cubic-bezier(0, 0, 0.2, 1) 0.5s;
  left: 0; }
  div.layout > aside.ng-hide {
    left: -20.83333%; }
  div.layout > aside .sections li {
    -webkit-transition: background linear 0.1s;
    -moz-transition: background linear 0.1s;
    transition: background linear 0.1s; }

.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.7s; }
  .view-animate.ng-leave.ng-leave-active {
    opacity: 0; }
.view-animate.ng-enter {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  opacity: 0; }
  .view-animate.ng-enter.ng-enter-active {
    opacity: 1; }

.list-animate.ng-enter {
  -webkit-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s; }
.list-animate.ng-move {
  -webkit-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s; }
.list-animate.ng-move-active, .list-animate.ng-enter.ng-enter-active, .list-animate.ng-move.ng-move-active {
  opacity: 1; }
.list-animate.ng-move {
  opacity: .5; }
.list-animate.ng-enter {
  opacity: 0; }
.list-animate.ng-enter-stagger {
  -webkit-transition-delay: .12s;
  transition-delay: .12s; }

.appear-delayed {
  -webkit-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  -moz-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  opacity: 1; }
  .appear-delayed.ng-hide {
    opacity: 0; }

.select button span {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s; }
.select .select-dropdown {
  opacity: 1; }
  .select .select-dropdown.ng-hide {
    opacity: 0; }
  .select .select-dropdown.ng-hide-add {
    -webkit-transition: all linear 0.1s 0.1s;
    -moz-transition: all linear 0.1s 0.1s;
    transition: all linear 0.1s 0.1s; }

input.ng-invalid {
  -webkit-transition: all linear 0.1s;
  -moz-transition: all linear 0.1s;
  transition: all linear 0.1s; }

.progress-bar .meter {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  transition: all linear 0.2s; }

.top-filter {
  -webkit-transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  -moz-transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s;
  transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s, opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s 0.7s; }
  .top-filter .actions {
    -webkit-transition: opacity linear 0.2s, width linear 0s 0.2s;
    -moz-transition: opacity linear 0.2s, width linear 0s 0.2s;
    transition: opacity linear 0.2s, width linear 0s 0.2s; }

.main-content-list li.cl > div {
  -webkit-transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  -moz-transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s;
  transition: background cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.1s; }
.main-content-list > li.cl > ul li.cl > ul {
  height: auto;
  max-height: 0;
  -webkit-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s, max-height cubic-bezier(0, 0.6, 0.85, 1) 0.3s;
  -moz-transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s, max-height cubic-bezier(0, 0.6, 0.85, 1) 0.3s;
  transition: opacity cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.4s, max-height cubic-bezier(0, 0.6, 0.85, 1) 0.3s; }
  .main-content-list > li.cl > ul li.cl > ul.expand {
    max-height: 1000px; }

/*# sourceMappingURL=main.css.map */
