div.layout > header {
    .title:after {
      background-color: $header-title-bg-color;
      height: 100%;
      width: $header-height/4;
      position: absolute;
      right: -$header-height/10;
      top: 0;
      content: "";
      @include transform(skew(-20deg, 0deg));
    }
    .search {
      margin-left: $header-height/2.5;
      &:before {
        background-color: $header-bg-color;
        border-right: $header-title-bg-color 3px solid;
        height: 100%;
        width: $header-height/2.5;
        position: absolute;
        left: -$header-height/2.5;
        top: 0;
        content: "";
        @include transform(skew(-20deg, 0deg));
      }
    }
}

.view-animate.ng-leave {
  @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s);
}

.view-animate.ng-enter {
  @include transition(all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s 1s);
}

.view-animate.ng-enter {
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity:1;
}
.view-animate.ng-leave.ng-leave-active {
  opacity:0;
}