// =========== Settings

// Most of the variables are based on some kind of percentages to maintain stability and consistency.
// So $variable-10 is small or light and $variable-100 is big or dark.

// Set your own font
$font-family-body:  'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;
$font-family-heading:  'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;;


// The base font-size, all other elements will adjust to this value
$font-size-base: 16px;

$font-size-10: 0.75rem;
$font-size-20: 0.875rem;
$font-size-30: 1rem;
$font-size-40: 1.125rem;
$font-size-50: 1.313rem;
$font-size-60: 1.57rem;
$font-size-80: 2rem;


// The grid columns will be used in the grid mixin, 48 is standard
$grid-columns: 48;


// Adjust the website's maximum width.
$max-width: 1140px;


// Use the spacing variable on margins and paddings
$spacing: 1.5rem;


// Adjust the border-radius
$border-radius-10: 0.125rem;
$border-radius-20: 0.313rem;


// Media queries
// Adjust them to you needs or add more
$breakpoint-10: 590px;
$breakpoint-20: 767px;
$breakpoint-30: 960px;

// Z-index plan
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;


// Menu and header sizes
$header-height: 4.57rem;
$navigation-width: 270px;


// Colors
// Add your own color variables)

// Color brand
$color-brand-50: #369d8a; // Default

$color-brand-30: lighten($color-brand-50, 20%);
$color-brand-40: lighten($color-brand-50, 7%);
$color-brand-60: darken($color-brand-50, 7%);
$color-brand-70: darken($color-brand-50, 20%);

// Color detail (secondary brand color)
$color-detail-50: #ee7147; // Default

$color-detail-30: lighten($color-detail-50, 20%);
$color-detail-40: lighten($color-detail-50, 7%);
$color-detail-60: darken($color-detail-50, 7%);
$color-detail-70: darken($color-detail-50, 20%);

// Color success
$color-success-50: #369d8a; // Default
$color-success-60: darken($color-success-50, 20%);

// Color alert
$color-alert-50: #da5c5c; // Default
$color-alert-60: darken($color-alert-50, 20%);;

// Color neutral
$color-neutral-10: #eeeeee; // almost white
$color-neutral-20: #d0d3d2;	
$color-neutral-30: #a2a7a6; // gray
$color-neutral-40: #848b92;
$color-neutral-50: #697783; // Default
$color-neutral-60: #525e69; 
$color-neutral-70: #2f3439;
$color-neutral-90: #2b2b2b; // almost black

// Color basics
$black: #000;
$white: #fff;


// OLD COLORS
$light-red: #fbe3e4;
$light-yellow: #fff6bf;
$light-green: #e6efc2;

$blue:                                  #049cdb;
$dark-blue:                             #0064cd;
$green:                                 #87b848;
$lime:                                  #beca68;
$red:                                   #a52b1f;
$light-red:                             #c22b1c;
$yellow:                                #ffc40d;
$orange:                                #f90;
$dark-orange:                           #ae4901;
$pink:                                  #c3325f;
$purple:                                #7a43b6;
$gray:                                  darken($color-neutral-20, 20%);

$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($blue, 40);
$success-color: $light-green;

$error-color:                           $light-red;
$notice-color:                          $yellow;
$alert-color:                           $orange;
$success-color:                         $green;
$default-feedback-bg-color:             $gray;


// OLD ANIMATIONS
$view-animate-hide-speed: .7s;
$view-animate-show-speed: 1s;
$sidebar-toggle-speed: .18s;
$animate-std-cubic: cubic-bezier(.250, .460, .450, .940);