body {

  margin: 0;
  background-color: $body-bg-color;
  color: $body-color;

  h1,h2,h3,h4 {
    font-weight: $header-font-weight;
  }

}

$grid-columns: $layout-columns;
$menu-size: $layout-menu-col / $layout-columns * 100%;

div.layout {
  position: absolute;
  height: 100%;
  @include fill-parent;

  > header {
    @include fill-parent;
    height: $header-height;
    background-color: $header-bg-color;
    position: fixed;
    z-index: 10000;
    .title, .search {
      color: $header-title-color;
      font-size: $header-title-size;
      position: relative;
      float: left;
    }
    .title {
      background-color: $header-title-bg-color;
      width: $menu-size;
      @include pad(($header-height - $header-title-size)/8 $header-height/8);
    }
    .search {
      width: $layout-main-col-r / $layout-columns * 100%;
      min-height: 100%;
      @include pad(($header-height - $header-title-size)/8 $header-height/4);
      i {
        position: absolute;
        top: 0.5em;
        left: -0.7em;
        color: $header-search-ico-color;
      }
    }
  }

  > aside, > .main {
    top: $header-height;
  }

  > aside {
    width: $menu-size;
    background-color: $layout-side-bg-color;
    position: fixed;
    min-height: 100%;
    color: $layout-side-color;
    .modules {
      @include row();
      padding: 0.6em 0.45em;
      li {
        float: left;
        font-size: 1.8em;
        padding: 0 0.25em;
        margin-left: 0.15em;
        min-width: 1.6em;
        text-align: center;
        border-radius: 0.25em;
        &:hover {
          cursor: pointer;
          background: $layout-side-bg-hover-color;
          color: $highlight-color;
        }
        &.active {
          background: $layout-active-comp-bg-color;
          color: $base-accent-color;
        }
        i.reporter:before {
          content: "\f0f6";
        }
        i.runner:before {
          content: "\f04b";
        }
        i.organizer:before {
          content: "\f114";
        }
        i.writer:before {
          content: "\f040";
        }
      }
    }
    .sections {
      li {
        @include row();
        @include pad($layout-menu-size/4 $layout-menu-size/2);
        font-size: $layout-menu-size;
        border-left: 0.3em solid $layout-side-bg-color;
        &:hover,&.active {
          color: $highlight-color;
          background-color: $layout-side-bg-hover-color;
        }
        &:hover {
          cursor: pointer;
          border-color: $layout-side-color;
        }
        &.active {
          border-color: $base-accent-color;
        }
      }
    }
  }

  > .main {
    width: $layout-main-col-w / $layout-columns * 100%;
    margin-left: $menu-size;
    position: relative;
  }
}