.top-filter {
    min-height: $header-height;
    padding: 0 $section-list-side-padding;
    background: $section-header-bg-color;
    color: $section-header-color;
    > span, > div {
        display: inline-block;
    }
    > span {
        margin: (($header-height - $section-header-font-size) / 4.1) 0;
        font-size: $section-header-font-size;
        line-height: $section-header-font-size;
    }
    button {
        font-size: $section-header-font-size - 0.1;
        margin-top: (0.1 - $filter-button-padding) / 2;
        span {
            color: $base-accent-color;
        }
    }
}

.filter-select {
    position: relative;
    button {
        background: none;
        border: $filter-button-border;
        padding: $filter-button-padding;
        i {
            margin-left: $filter-button-padding;
            color: $section-header-color;
        }
    }
    ul {
        position: absolute;
        display: none;
        text-align: left;
        color: $filter-list-color;
        font-weight: normal;
        font-size: $filter-select-list-font-size;
        left: 0;
        top: 2.5em / $filter-select-list-font-size + $filter-button-padding;
        background: $filter-button-list-bg-color;
        width: 100%;
        padding: $filter-button-padding 0;
        border: $filter-list-border;
        &.show {
            display: block;
        }
        li {
            padding: 0.3em 1em;
            &:hover {
                cursor: pointer;
                color: $base-accent-color;
                background: $filter-list-highlight-bg-color;
            }
        }
    }
}
