@mixin selectable($base-hover-color, $selected-hover-color) {
    @include transition(background cubic-bezier(.250, .460, .450, .940) .1s);
}

@mixin list-item-height($height, $font-size) {
    font-size: $font-size;
    line-height: $font-size;
    min-height: $height;
    max-height: $height;
}

.list-item {

    .active input { 
        color: $white;

        &:focus, &:active, &:hover { color: $color-neutral-60; }
    }

    // Collapse expand arrow
    i.fa.expand:after {
        content: '\f0da'
    }
    &.expand i.fa.expand:after {
        content: '\f0d7';
    }

    .header {

        // .prefix {
        //    @include display(flex);
        //     @include justify-content(space-around);

        //     * {
        //         @include flex(1 1 auto);
        //     }

        //     // .scenario-handle, .step-handle {
        //     //     padding-left: 0.2em;
        //     //     text-align: left;
        //     // }

        //     user-select: none;
        //     min-width: 2em;
        //     text-align: center;
        //     font-size: 1.778em;
        //     cursor: pointer;
        // }

        .title {
            @include display(flex);
            @include flex(1 1 auto);        
            @include align-items(center);
            cursor: default;

            span {
                @include flex(1 1 auto);  
                padding-right: 1.5em;
            }

            input {
                @include flex(1 1 auto);  
                margin: 0;
            }
        }

        .title.editable {
            &:not(:hover) {
                input:not(:focus) {
                    border-color: transparent;
                    box-shadow: none;
                    background-color: inherit;
                }
            }
        }

        a:hover {
            background: darken($color-neutral-60, 10%);
        }

        .actions {
            display: none;
            max-width: fit-content;
            padding: 0;
            user-select: none;

            .fa {
                font-size: 1.5em;
            }
        }

        &.active .actions, 
        &:hover .actions {
            display: block;
        }
    }
}

.stories.filter {
    @extend .list-item;
    border: 0;
    background: $blue;

    .header {
        border-style: none;

        .actions {
            display: block;
        }

        .title {
            @include list-item-height($header-height, 1.5rem);
        }
    }
}

.stories.list {
    @include display(flex);
    @include flex-direction(column);

    .book, .prologue, .scenarios, .epilogue {
        background: lighten(lighten($gray, 10%), 5%);
        &.active {
            background: $blue;
        }

        .title {
            @include list-item-height(3.16128rem, 1.333rem);
        }
    }

    .story,  {
        // Story
        background: lighten(lighten($gray, 10%), 15%);
        &.active {
            background: $blue;
        }

        .title {
            @include list-item-height(2.77889rem, 1.2rem);
        }
    }

    .scenario {
        // Scenario
        background: lighten(lighten($gray, 10%), 20%);
        border-color: #eaeaea;
        &.active {
            background: $blue;
        }

        .title {
            @include list-item-height(2.77889rem, 1.2rem);
        }
    }
}
