<section class="login" name="login" ng-submit="loginForm.authenticate()" ng-controller="LoginCtrl as loginForm">

	<h2 class="login--logo">Login to {{loginForm.title}}</h2> 

	<form class="login--form">
       	<fieldset>
            <input type="email" name="email" ng-model="loginForm.email" placeholder="{{loginForm.emailPlaceholder}}" required />
            <input type="password" name="password" ng-model="loginForm.password" placeholder="{{loginForm.passPlaceholder}}" required>
        </fieldset>
		<input class="button-tint" type="submit" value="{{loginForm.submitTitle}}">

		<span class="error-feedback" ng-show="loginForm.hasError">{{ loginForm.loginError }}</span>

	</form>
</section>	