<section class="login" name="login" ng-submit="loginForm.authenticate()" ng-controller="LoginCtrl as loginForm">

	<h2 class="login--logo">Login to {{loginForm.title}}</h2> 

	<form class="login--form">
       	<fieldset>
            <input type="email" name="email" ng-model="loginForm.email" placeholder="{{loginForm.emailPlaceholder}}" required />
            <input type="password" name="password" ng-model="loginForm.password" placeholder="{{loginForm.passPlaceholder}}" required>
        </fieldset>
		<input class="button-tint" type="submit" value="{{loginForm.submitTitle}}">

		<span class="error-feedback" ng-show="loginForm.hasError">{{ loginForm.loginError }}</span>

	</form>
</section>	

<div class="website--wrapper">

	<div class="website--header">
		<div>
	        <h2>Behavior-driven development</h2>
			<small>In the early stages of development, stay tuned</small>
	        <p>To finally get rid of the need to use complex tools for use-case testing in enterprise environments. Finq.io introduces behavior-driven testing straight from the browser. A highly performant and scalable tool that will actually make testing fun!</p>

		</div>
	</div>


	<div class="website--body">
	    <div class="bodycontainer">

	        Inspired by <a href="http://jbehave.org/" rel="external" target="_blank">JBehave</a>, <strong>Finq.io</strong> is focussed on collaboration, usability and test quality, and by combining behavior-driven development (<a href="http://en.wikipedia.org/wiki/Behavior-driven_development" rel="external" target="_blank">BDD</a>), domain-specific language (<a href="http://en.wikipedia.org/wiki/Domain-specific_language" rel="external" target="_blank">DSL</a>), and test-driven development (<a href="http://en.wikipedia.org/wiki/Test-driven_development" rel="external" target="_blank">TDD</a>), tests to become easy to:<p></p>
	        <ul class="tiles">
	            <li>
	                <h3><i class="fa fa-pencil"></i>Write</h3>
	                <p>No need to keep separate documentation to explain your tests. You write them in the same language as your user stories.</p>
	            </li>
	            <li>
	                <h3><i class="fa fa-play"></i>Run</h3>
	                <p>Focus on a single scenario in debug mode, or run a whole collection of tests at once on a target environment.</p>
	            </li>
	            <li>
	                <h3><i class="fa fa-folder-o"></i>Organize</h3>
	                <p>Tag them and make sets of scenarios that you want to execute on specific occasions or for specific builds.</p>
	            </li>
	            <li>
	                <h3><i class="fa fa-file-text-o"></i>Report</h3>
	                <p>Get immediate access to tests ran by other members in your team and keep track of a run history for scenarios.</p>
	            </li>
	        </ul>
	    
	    </div>
	</div>


	<footer class="website--footer">
		<div class="bodycontainer" id="socialmedia">
			<ul>
				<li>
                    <a title="Webclient" href="https://github.com/topicusfinan/finq-webclient" rel="external" target="_blank">
                        <i class="fa fa-github"></i>
                        <span>Finq.io webclient on Github</span>
                    </a>
                </li>
                <li>
                    <a title="Webrunner" href="https://github.com/topicusfinan/jbehave-rest-runner" rel="external" target="_blank">
                        <i class="fa fa-github"></i>
                        <span>Finq.io webrunner on Github</span>
                    </a>
                </li>
                <li>
                    <a title="Language" href="https://github.com/Eernie/JMoribus" rel="external" target="_blank">
                        <i class="fa fa-github"></i>
                        <span>JMoribus syntax on Github</span>
                    </a>
                </li>
			</ul>
			<p>Finq.io is being developed by a few enthusiasts at <a title="Topicus finan" href="http://www.finan.nl" rel="external" target="_blank">Topicus Finan</a>.</p>
		</div>
	</footer>
	   

	<div class="uk-tooltip"></div>
</div>