// ============ Header 
header {
    @include display(flex);
    @include align-items(center);
    @include transition(background $animate-std-cubic .1s, opacity $animate-std-cubic $view-animate-show-speed $view-animate-hide-speed);

    height: $header-height;
    background: $color-brand-60;
    color: $white;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 $spacing;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    
    > * { cursor: pointer; }

    .filters {
	    @include flex(1 0 auto);
	    @include display(flex);
	    @include align-items(center);

	    > span { margin-right: $spacing/2; }
	    > span:not(:only-child) { display: none; }

	    > i {
	        @include flex(0 0 auto);
	    	margin-top: 2px; 
	        font-size: $font-size-60;
	        margin-right: $spacing;
	        color: $white;
	        margin: 0 $spacing/2 0 0;

	    }

	    > div { margin-right: $spacing; }

	    .select { 
	    	@media (min-width: $breakpoint-30) { 
	    		display: block!important; 
	    	}
	    }
	}
}