// ============ Header 

div.layout > header {
    width: 100%;
    height: $header-height;
    min-width: 60rem;
    background-color: darken($dark-gray, 10%);
    position: fixed;
    z-index: 10000;

    .title,
    .search,
    .account {
        color: $light-gray;
        position: relative;
        height: 100%;
    }

    .title,
    .search {
        font-size: 2.29rem;
        float: left;
        @include transition(opacity linear 1s);
        opacity: 1;

        &.ng-hide {
            opacity: 0;
        }
    }

    .title {
        background-color: darken($dark-gray, 5%);
        width: 15rem;
        padding: 8px 21.33px 8px 16px;
        padding-right: 4.57rem/6;
        position: relative;

        &:after {
            background-color: darken($dark-gray, 5%);
            height: 100%;
            width: 3rem;
            position: absolute;
            right: -1rem;
            top: 0;
            content: ' ';
            @include transform(skew(-20deg, 0deg));
        }

        span {
            @include ellipsis;
            font-size: 2.29rem;
            line-height: 1.5em;
        }
    }

    .search {
        width: 32.5rem;
        min-height: 100%;
        padding: 8px 32px;
        margin-left: 4.5rem;

        i {
            position: absolute;
            top: .4em;
            left: -.9em;
            color: lighten($dark-gray, 20%);
        }

        input {
            line-height: 1.45em;
            margin: 0;
            padding: 0 .3em;
            background: none;
            border: 0;
            box-shadow: none;
            color: $light-gray;;
            border-radius: 0;
            font-size: 2.29rem;

            // temporary fix for webkit issue 46543
            &:-webkit-autofill {
                -webkit-box-shadow: 0 0 0 50px darken($dark-gray, 10%) inset;
                -webkit-text-fill-color: $light-gray;
            }
        }

        &:before {
            background-color: darken($dark-gray, 10%);
            border-right: darken($dark-gray, 5%) 3px solid;
            height: 100%;
            width: 4rem;
            position: absolute;
            left: -1em;
            top: 0;
            content: ' ';
            @include transform(skew(-20deg, 0deg));
        }
    }

    .account {
        float: right;
        min-height: 100%;
        @include pad((4.57rem - 2rem)/8 4.57rem/8);

        > img {
            height: 3em;
            position: absolute;
            right: .5em;
            top: .5em;
            max-width: none;
            cursor: pointer;
        }

        .name {
            @include pad(.8em .8em/2);
            right: 4em;
            position: absolute;

            > span {
                display: block;
                text-align: right;

                &.first {
                    font-size: .9em;
                    line-height: .5em;
                }

                &.last {
                    font-size: 1.2em;
                }
            }
        }
    }
}