// ============ Main content list

.main-content-list {
    // margin-bottom: 6em;

    li.cl > div,
    li.cl > div > div.comments {
        @include transition(background $animate-std-cubic .1s);
    }

    > li.cl > ul li.cl {

        > ul {
            height: auto;
            max-height: 0;
            @include transition(opacity $animate-std-cubic .4s, max-height cubic-bezier(0, .6, .85, 1) .3s);
        }
    }

    &.expand > li.cl > ul li.cl > ul,
    > li.cl > ul.expand li.cl > ul,
    > li.cl > ul li.cl.expand > ul {
        max-height: 1000px;
    }

    &.expand > li.cl > ul li.cl,
    > li.cl > ul.expand li.cl,
    > li.cl > ul li.cl.expand {
        > div > div.title > i.expand:after {
            content: '\f0d7';
        }

        > ul {
            opacity: 1;
            height: auto;
            overflow-y: visible;
        }
    }

    li.cl {

        > div {

            > div.title {

                &.editable {
                    position: relative;
                }

                > i {
                    color: lighten($color-neutral-60, 5%);

                    &.success {
                        color: $success-color;
                    }

                    &.failed {
                        color: $error-color;
                    }
                }

                > input {
                    margin: (($header-height - 1.5rem) / 9.5) .5em / 2;
                    margin-bottom: 0;
                    background-color: rgba(#000,.3);
                    color: $white;
                    border: 0;
                    min-width: 10em;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

                > span,
                > div {
                    @include ellipsis;
                }
            }

            > i,
            > div.title > i {
                //width: 2rem;
                text-align: center;
                margin-right: $spacing/2;
            }

            

            > div.actions > strong {
                font-size: modular-scale(1, 1rem, $minor-sixth);
                position: relative;
                top: .1em;
            }
        }
    }


    > li.cl {

        > div {

            > div.comments {
                color: $white;

                > span,
                > a {
                    font-size: $font-size-30;
                    line-height: 1rem;
                    padding: ((3.16128rem - 1rem) / 2) 0;
                    color: $color-neutral-60;
                }

                > a {
                    color: $color-brand-50;

                    &:hover {
                        color: $color-brand-60;
                    }
                }

                > i {
                    cursor: pointer;
                }

                > strong.separate {
                    margin-left: .5em / 4;
                }
            }

            p {
                margin: 0;
            }
        }

        > ul {

            li.cl {
                background: lighten(lighten($gray, 10%), 5%);

                > div {

                    > div > span {
                        margin: 0 .5em / 2;
                    }

                    > div.title {

                        &.editable {

                            > span.editable {
                                padding-right: .5em * 2;
                            }
                        }
                    }

                    > div.title > i {
                        font-size: modular-scale(1, 1rem, $minor-seventh);
                        top: .25em;

                        &.scenario-handle,
                        &.step-handle {
                            font-size: $font-size-50;
                            color: #bbb;
                        }

                        &.scenario-handle {
                            top: .4em;
                            left: -2.2em;
                            padding: 0 .3em;
                        }

                        &.step-handle {
                            top: .5em;
                            left: 1.2em;
                            padding: 0 .3em;
                        }

                        &.expand:after {

                            @extend %icon;
                            content: '\f0da';
                        }
                    }

                    > div.title > span,
                    > div.actions > span {
                        font-size: $font-size-30;
                        line-height: 1.2rem;
                    }

                    > div.title > input[type="text"] {
                        font-size: 1.2rem;
                        padding: ((2.77889rem - 1.2rem) / 5) .5em;
                        margin-left: -.3em;
                        opacity: 0;
                    }
                }

                > ul {
                    opacity: .5;
                    height: 0;
                    overflow-y: hidden;

                    li.cl > div {

                        &.success {
                            background: lighten($lime, 30%);
                        }

                        &.failed {
                            background: lighten($light-red, 30%);
                        }

                        &.skipped:not(.active) {
                            > div.title,
                            > div.i {
                                opacity: .4;
                            }
                        }

                        > div.title > {

                            .fa-fw {
                                left: 0.53333em;
                            }
                        }
                    }

                    li.cl:first-child > div {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
