nav.navigation {
    @include transition(left cubic-bezier(0, 0, .2, 1) .5s);
    @include flex(0 0 auto);
    width: $navigation-width;
    min-height: 100%;
    z-index: 2;
    left: 0;
    border-right: 1px solid rgba($color-neutral-50, 0.7);
    background-color: $color-detail-50;
    position: relative;
    top: 0;
    bottom: 0;
    overflow: hidden;
    
    &:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f058";
        display: block;
        color: $color-detail-60;
        position: absolute;
        z-index: 100;
        right: -2rem;
        bottom: -3rem;
        font-size: 16rem;
        opacity: 0.4;
    }

    &.ng-hide,
    &.is-hidden {
        left: -$navigation-width;
    }

    > * {
        position: relative;
        z-index: 10;
    }
}

.navigation--title {
    @include display(flex);
    @include align-items(center);
    background: $color-detail-70, ; //rgba($white, 0.3);
    color: $color-neutral-10;
    font-size: $font-size-60;
    padding: 0 $spacing/2;
    font-weight: 300;
    height: $header-height;
}

ul.navigation--modules {
    @include display(flex);
    overflow: hidden;
    margin-bottom: $spacing/2;
    background: $color-detail-70;
    padding: 0 0.35rem;

    li {
        @include flex(1 1 auto);
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);

        font-size: $font-size-50;
        padding: $spacing/2 0;
        position: relative;
        color: $color-detail-30;

        &:not(.active) {
            border-bottom: 1px solid $color-detail-70;
            box-shadow: inset 0 -1px 1px 0 rgba($color-detail-70, 0.2);
        }

        &:hover {
            cursor: pointer;
            color: $white;
        }

        &.active {
            color: rgba($color-neutral-20, 0.7);
            background: $color-detail-50;
            border-radius: $border-radius-20 $border-radius-20 0 0;
        }

        .badge {
            position: absolute;
            height: 1.45rem;
            width: 1.45rem;
            text-align: center;
            top: .2rem;
            background: $red;
            color: $white;
            border-radius: 50%;
            font-size: $font-size-10;
        }
    }
}


.navigation--module-title {
    margin: 0 0.35rem;
    padding: $spacing/2 $spacing/2 0.15rem;

    font-size: $font-size-40;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($color-neutral-20, 0.7);
    color: rgba($color-neutral-20, 0.7);
}


.navigation--sections {
    padding: 0.35rem;
    color: rgba($color-neutral-20, 0.7);

    li {
        @include ellipsis;
        padding: 0.35rem $spacing/2;
        position: relative;
        cursor: pointer;

        &:hover,
        &.active {
            color: $white;
        }

        &.active {
            color: $white;
            font-weight: 600;
        }

        .badge {
            position: absolute;
            top: .43em;
            right: .3em;
            padding: 0 .5em;
            background: $red;
            color: $white;
            border-radius: $border-radius-20;
            font-size: .9em;
            @include transition(all cubic-bezier(.295, .305, .065, 1.455) .3s);
            opacity: 1;

            &.ng-hide {
                opacity: 0;
                font-size: 0;
            }

            &.ng-animate {
                animation-name: badge;
                animation-duration: 1s;
            }
        }
    }
}

@keyframes badge {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    0% {
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(.95, .95, .95);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}