nav {
    width: $menu-size;
    background-color: $color-neutral-70;
    position: fixed;
    min-height: 100%;
    color: $gray;
    z-index: 2;
    @include transition(left cubic-bezier(0, 0, .2, 1) .5s);
    left: 0;

    &.ng-hide {
        left: -$menu-size;
    }

    ul.modules {
        @include display(flex);
        background-color: $color-neutral-90;
        overflow: hidden;

        li {
            @include flex(1 1 auto);
            @include display(flex);
            @include align-items(center);
            @include justify-content(center);
            font-size: $font-size-60;
            margin: 0 0.25rem;
            padding: $spacing/2 0;
            border-radius: $border-radius-20 $border-radius-20 0 0 ;
            position: relative;

            &:hover {
                cursor: pointer;
                background: $color-neutral-60;
                color: $white;
            }

            &.active {
                background: $color-neutral-70;
                color: $color-brand-50;
            }

            .badge {
                position: absolute;
                height: 1.45rem;
                width: 1.45rem;
                text-align: center;
                top: .2rem;
                background: $red;
                color: $white;
                border-radius: 50%;
                font-size: $font-size-10;
            }
        }
    }

    .sections {
        li {
            //@include row;
            @include ellipsis;
            padding: 6px $spacing - .3rem;
            font-size: 1.4rem;
            line-height: 2rem;
           //border-left: .3rem solid $color-neutral-70;
            position: relative;

            &:hover,
            &.active {
                color: $white;
                background-color: $color-neutral-60;
            }

            &:hover {
                cursor: pointer;
                //border-left: .3em solid $color-neutral-50;
            }

            &.active {
                //border-left: .3em solid $color-brand-50;
            }

            .badge {
                position: absolute;
                top: .43em;
                right: .3em;
                padding: 0 .5em;
                background: $red;
                color: $white;
                border-radius: $border-radius-20;
                font-size: .9em;
                @include transition(all cubic-bezier(.295, .305, .065, 1.455) .3s);
                opacity: 1;

                &.ng-hide {
                    opacity: 0;
                    font-size: 0;
                }

                &.ng-animate {
                    animation-name: badge;
                    animation-duration: 1s;
                }
            }
        }
    }

    h1 {
        font-size: 1.7rem;
        font-weight: 600;
        display: block;
        padding: 8px $spacing/2;
        background: darken($color-neutral-60, 5%);
        color: lighten($color-neutral-60, 20%);
    }

    .title {
        background: $color-neutral-90;
        color: $color-neutral-10;
        font-size: 2rem;
        padding: $spacing $spacing/2 $spacing*1.5;
        font-weight: 300;
    }
}

@keyframes badge {
    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    0% {
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.2, 1.2, 1.2);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    80% {
        transform: scale3d(.95, .95, .95);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}