.main-content-list {

    li.cl > div {
        cursor: pointer;
        position: relative;
        padding: 0 $section-list-side-padding;
        color: $section-header-color;
        margin-top: $content-list-item-spacing;

        &.active,
        &:hover {
            background: $base-accent-color;
            color: $highlight-color;
        }

        > i {
            color: $section-list-icon-color;
        }

        > span,
        > div {
            @include ellipsis;
        }
    }

    li.ic > div {
        padding-left: $section-list-icon-text-pad;
    }

    > li.cl {
        border-top: $content-list-bg-color $content-list-item-spacing solid;
        background: $content-list-bg-color;

        > div {
            min-height: $content-list-item-1-height;
            max-height: $content-list-item-1-height;
            background: $content-list-item-1-bg-color;
            margin-top: 0;

            &.active,
            &:hover {
                background: $base-accent-color;
            }

            > i {
                left: $section-list-icon-left * $content-list-item-1-icon-left;
                top: $content-list-item-1-icon-top;
                font-size: $content-list-item-1-icon-size;
                position: absolute;
            }

            > span {
                padding: (($content-list-item-1-height - $content-list-item-1-font-size) / 4.5) 0;
                font-size: $content-list-item-1-font-size;
                line-height: $content-list-item-1-font-size;
            }
        }

        > ul {

            li.cl {
                background: $content-list-3-bg-color;

                > div {
                    min-height: $content-list-item-2-height;
                    max-height: $content-list-item-2-height;
                    background: $content-list-item-2-bg-color;

                    &.active,
                    &:hover {
                        background: $base-accent-color;
                    }

                    > i {
                        left: $section-list-icon-left * $content-list-item-2-icon-left;
                        top: $content-list-item-2-icon-top;
                        font-size: $content-list-item-2-icon-size;
                        position: absolute;
                    }

                    > span {
                        padding: (($content-list-item-2-height - $content-list-item-2-font-size) / 3.5) 0;
                        font-size: $content-list-item-2-font-size;
                        line-height: $content-list-item-2-font-size;
                    }
                }

                > ul {
                    opacity: 0;
                    height: 0;

                    &.expand {
                        opacity: 1;
                        height: auto;
                    }

                    li.cl > div {
                        background: $content-list-item-3-bg-color;
                        padding-top: $content-list-item-3-spacing;
                        margin-top: $content-list-item-spacing / 2;

                        &.active,
                        &:hover {
                            background: $base-accent-color;
                        }
                    }
                }
            }
        }
    }
}
