.top-filter,
.main-content-list li.cl > div {
    position: relative;

    > .comments,
    > .actions {
        position: absolute;
        right: $section-list-side-padding;
    }

    > .actions {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    > div > span,
    > div > div,
    > div > i,
    > div > button {
        float: left;
    }

    &.selectable:hover {
        background: $hover-bg-color;
    }

    &.active,
    &.active:hover {
        background: $base-accent-color;
        color: $highlight-color;

        .select > button {
            background: $select-list-hl-button-bg-color;
            border: $select-list-hl-button-border;

            span {
                color: $highlight-color;
            }
        }

        .actions {
            opacity: 1;
            width: auto;
            overflow: visible;
        }

        .comments > span {
            color: $highlight-color;

            &.highlight {
                color: $highlight-color;
            }
        }
    }

    > div > button span,
    > div .select > button span {
        line-height: 1 + $filter-button-padding;
    }

    > div > button {
        background: $secondary-button-bg-color;
        border: $filter-button-border;
        padding: ($filter-button-padding / 2) $filter-button-padding * 2;
    }

    > div .select > button {
        background: $select-list-button-bg-color;
        border: $select-list-button-border;
        padding: ($filter-button-padding / 2) $filter-button-padding;

        span {
            color: $base-accent-color;
        }
    }

    > div > button:hover {
        background: $secondary-button-bg-color-hov;
    }
}
