.main-content-list {

    &.expand > li.cl > ul li.cl,
    > li.cl > ul.expand li.cl,
    > li.cl > ul li.cl.expand {
        > div > div.title > i:after {
            content: '\f0d7';
        }

        > ul {
            opacity: 1;
            height: auto;
            overflow-y: visible;
        }
    }


    margin-bottom: 6em;

    li.cl > div {
        cursor: pointer;
        position: relative;
        color: $section-header-color;
        margin-top: $content-list-item-spacing;

        &:hover {
            background: $base-accent-color;
            color: $highlight-color;
        }

        > div.title {
            float: left;

            > i {
                color: $section-list-icon-color;
            }

            > span,
            > div {
                @include ellipsis;
            }
        }
    }

    li.ic > div {
        padding-left: $section-list-icon-text-pad;
    }

    li.cl > div {
        > i,
        > div.title > i,
        > div.title > .radial-progress {
            position: absolute;
        }
    }

    > li.cl {
        border-top: $content-list-bg-color $content-list-item-spacing solid;
        background: $content-list-bg-color;

        > div {
            min-height: $content-list-item-1-height;
            max-height: $content-list-item-1-height;
            background: $content-list-item-1-bg-color;
            margin-top: 0;

            &.active,
            &:hover {
                background: $base-accent-color;

                > div.title > .radial-progress {
                    .circle .mask .fill {
                        background: $highlight-color;
                    }

                    .inset {
                        background: $base-accent-color;
                    }
                }
            }

            button,
            .select > button {
                font-size: $content-list-item-1-font-size - .1;
                margin-top: $content-list-1-button-margin-top;
            }

            .select > button {
                margin-top: $content-list-1-select-margin-top;
            }

            > div > span {
                margin: 0 $filter-button-padding / 4;

                &.separate {
                    margin: 0 $filter-button-padding / 2;
                }
            }

            > div.title > i,
            > div.title > .radial-progress {
                left: $section-list-icon-left * $content-list-item-1-icon-left;
                top: $content-list-item-1-icon-top;
                font-size: $content-list-item-1-icon-size;
            }

            > div.title > .radial-progress {
                @include radial-progress(1em, .5em, darken($content-list-item-1-bg-color, 8%), $base-accent-color, $content-list-item-1-bg-color);
            }

            > div.title > span,
            > div.actions > span {
                font-size: $content-list-item-1-font-size;
                line-height: $content-list-item-1-font-size;
                padding: (($content-list-item-1-height - $content-list-item-1-font-size) / 4) 0;
            }

            > div.comments > span {
                font-size: $content-list-item-1-com-font-size;
                line-height: $content-list-item-1-com-font-size;
                padding: (($content-list-item-1-height - $content-list-item-1-com-font-size) / 2) 0;
                color: $content-list-item-1-com-color;
            }

            p {
                margin: 0;
            }
        }

        > ul {

            li.cl {
                background: $content-list-3-bg-color;

                > div {
                    min-height: $content-list-item-2-height;
                    max-height: $content-list-item-2-height;
                    background: $content-list-item-2-bg-color;

                    &.active,
                    &:hover {
                        background: $base-accent-color;
                    }

                    > div > button,
                    .select > button {
                        font-size: $content-list-item-2-font-size - .1;
                        margin-top: $content-list-2-button-margin-top;
                    }

                    .select > button {
                        margin-top: $content-list-2-select-margin-top;
                    }

                    > div > span {
                        margin: 0 $filter-button-padding / 2;
                    }

                    > div.title > i {
                        left: $section-list-icon-left * $content-list-item-2-icon-left;
                        top: $content-list-item-2-icon-top;
                        font-size: $content-list-item-2-icon-size;

                        &:after {

                            @extend %icon;
                            content: '\f0da';
                        }
                    }

                    > div.title > span,
                    > div.actions > span {
                        font-size: $content-list-item-2-font-size;
                        line-height: $content-list-item-2-font-size;
                        padding: (($content-list-item-2-height - $content-list-item-2-font-size) / 3) 0;
                    }
                }

                > ul {
                    opacity: .5;
                    height: 0;
                    overflow-y: hidden;

                    li.cl > div {
                        background: $content-list-item-3-bg-color;
                        padding-top: $content-list-item-3-spacing;
                        margin-top: $content-list-item-spacing / 2;

                        &.active,
                        &:hover {
                            background: $base-accent-color;
                        }

                        > div > button,
                        .select > button {
                            margin-top: $content-list-3-button-margin-top;
                        }

                        .select > button {
                            margin-top: $content-list-3-select-margin-top;
                        }
                    }

                    li.cl:first-child > div {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
