.select {
    position: relative;

    button {
        background: $filter-list-button-bg-color;
        max-width: $filter-list-button-max-width;
        min-width: 0;
        text-align: left;
        margin-left: $filter-list-button-margin;
        margin-right: $filter-list-button-margin;

        &.active {
            min-width: $filter-list-button-min-width;
        }

        border: $filter-button-border;
        padding: ($filter-button-padding / 2) $filter-button-padding;

        i {
            position: absolute;
            right: $filter-button-padding * 2;
            top: 25%;
            margin-left: $filter-button-padding;
            color: $section-header-color;
        }

        span {
            @include ellipsis;
            margin-right: $filter-button-padding * 3;
            line-height: 1 + $filter-button-padding;
        }
    }

    .select-dropdown {
        position: absolute;
        text-align: left;
        color: $filter-list-color;
        font-weight: normal;
        font-size: $filter-list-font-size;
        left: 0;
        top: 2.5em / $filter-list-font-size + $filter-button-padding;
        background: $filter-list-bg-color;
        width: 100%;
        padding: $filter-button-padding 0;
        border: $filter-list-border;

        ul {
            max-height: $filter-list-max-height;
            overflow-y: auto;
        }

        li {
            @include ellipsis;
            padding: .3em 1em;

            &:hover,
            &.active {
                color: $base-accent-color;
            }

            &:hover {
                background: $filter-list-highlight-bg-color;
                cursor: pointer;
            }

            &.active {

                &:after {

                    @extend %icon;
                    line-height: inherit;
                    content: '\f00c';
                    color: $filter-list-color;
                    float: right;
                }
            }
        }
    }
}
