.select {
    position: relative;

    button {
        max-width: $select-list-button-max-width;
        min-width: 0;
        text-align: left;
        margin-left: $select-list-button-margin;
        margin-right: $select-list-button-margin;
        border: $select-list-button-border;
        position: relative;

        &.active {
            min-width: $select-list-button-min-width;
        }

        i {
            position: absolute;
            right: $select-list-button-padding * 1.5;
            top: 25%;
            margin-left: $select-list-button-padding;
            color: $section-header-color;
        }

        span {
            @include ellipsis;
            margin-right: $select-list-button-padding * 3;
        }
    }

    .select-dropdown {
        position: absolute;
        text-align: left;
        color: $select-list-color;
        font-weight: normal;
        font-size: $select-list-font-size;
        left: 0;
        top: 2.5em / $select-list-font-size + $select-list-button-padding;
        background: $select-list-bg-color;
        width: 100%;
        padding: $select-list-button-padding 0;
        border: $select-list-border;
        z-index: 2;

        ul {
            max-height: $select-list-max-height;
            overflow-y: auto;
        }

        li {
            @include ellipsis;
            padding: .3em 1em;

            &:hover,
            &.active {
                color: $base-accent-color;
            }

            &:hover {
                background: $select-list-hl-bg-color;
                cursor: pointer;
            }

            &.active {

                &:after {

                    @extend %icon;
                    line-height: inherit;
                    content: '\f00c';
                    color: $select-list-color;
                    float: right;
                }
            }
        }
    }
}
