.top-filter {
    cursor: pointer;
    min-height: $header-height;
    max-height: $header-height;
    background: $section-header-bg-color;
    color: $section-header-color;
    white-space: nowrap;

    &.ic {
        padding-left: $section-list-icon-text-pad;
    }

    > .filters {
        float: left;

        > i {
            margin: (($header-height - $section-header-font-size) / 4.5) 0 0 $filter-button-padding / 2;
            font-size: $section-header-font-size * 1.3;
            line-height: 1;

            &.inactive {
                margin-left: $filter-button-padding / 2;
                margin-right: 0;
                color: $section-list-icon-color;

                &:hover {
                    color: $section-header-color;
                }
            }
        }
    }

    > i {
        position: absolute;
        left: $section-list-icon-left;
        top: $section-header-icon-top;
        font-size: $section-header-icon-size;
        color: $section-list-icon-color;
    }

    > div > span {
        margin: (($header-height - $section-header-font-size) / 4.5) $filter-button-padding / 2;
        font-size: $section-header-font-size;
        line-height: $section-header-font-size;
    }

    > div button,
    > div .select button {
        font-size: $section-header-font-size - .1;
    }

    > div button {
        margin-top: $filter-button-margin-top;
    }

    > div .select button {
        margin-top: $filter-select-margin-top;
    }

}
