.top-filter {
    cursor: pointer;
    min-height: $header-height;
    max-height: $header-height;
    padding: 0 $section-list-side-padding;
    background: $section-header-bg-color;
    color: $section-header-color;
    white-space: nowrap;

    &.active {
        background: $base-accent-color;
        color: $highlight-color;

        .select button {
            background: $select-list-hl-button-bg-color;
            border: $select-list-hl-button-border;

            span {
                color: $highlight-color;
            }
        }

        .actions {
            opacity: 1;
            width: auto;
            overflow: visible;
        }
    }

    &.ic {
        padding-left: $section-list-icon-text-pad;
    }

    > .filters {
        float: left;

        > i {
            display: none;
            margin: (($header-height - $section-header-font-size) / 4.5) $filter-button-padding / -2 0 $filter-button-padding / 2;
            font-size: $section-header-font-size * 1.3;
            line-height: 1;

            &.show {
                display: inline-block;
                margin-left: $filter-button-padding / 2;
                margin-right: 0;
                color: $section-list-icon-color;
                &:hover {
                    color: $section-header-color;
                }
            }
        }
    }

    > .actions {
        float: right;
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    > div > span,
    > div > div,
    > div > i,
    > div > button {
        float: left;
    }

    > i {
        position: absolute;
        left: $section-list-icon-left;
        top: $section-header-icon-top;
        font-size: $section-header-icon-size;
        color: $section-list-icon-color;
    }

    > div > span {
        margin: (($header-height - $section-header-font-size) / 4.5) $filter-button-padding / 2;
        font-size: $section-header-font-size;
        line-height: $section-header-font-size;
    }

    > div .select button {
        background: $select-list-button-bg-color;
        border: $select-list-button-border;
        font-size: $section-header-font-size - .1;
        margin-top: $filter-select-margin-top;
        padding: ($filter-button-padding / 2) $filter-button-padding;

        span {
            color: $base-accent-color;
        }
    }

    > div button {
        background: $filter-button-bg-color;
        border: $filter-button-border;
        margin-top: $filter-button-margin-top;
        font-size: $section-header-font-size - .1;
        padding: ($filter-button-padding / 2) $filter-button-padding * 2;

        &:hover {
            background: $filter-button-bg-color-hov;
        }

        span {
            line-height: 1 + $filter-button-padding;
        }
    }

}
