.top-filter {
    cursor: pointer;
    min-height: $header-height;
    max-height: $header-height;
    padding: 0 $section-list-side-padding;
    background: $section-header-bg-color;
    color: $section-header-color;
    white-space: nowrap;

    &.active {
        background: $base-accent-color;
        color: $highlight-color;

        button {
            background: $filter-list-hl-button-bg-color;
        }
    }

    &.ic {
        padding-left: $section-list-icon-text-pad;
    }

    > span,
    > div {
        display: inline-block;
    }

    > i {
        position: absolute;
        left: $section-list-icon-left;
        top: $section-header-icon-top;
        font-size: $section-header-icon-size;
        color: $section-list-icon-color;
    }

    > span {
        margin: (($header-height - $section-header-font-size) / 4.5) 0;
        font-size: $section-header-font-size;
        line-height: $section-header-font-size;
    }

    button {
        background: $filter-list-button-bg-color;
        font-size: $section-header-font-size - .1;
        margin-top: (.1 - $filter-button-padding) / 2;

        span {
            color: $base-accent-color;
        }
    }
}
