footer.feedback {
    position: fixed;
    bottom: 0;
    right: 0;
    background: $default-feedback-bg-color;
    text-align: center;
    left: $menu-size;
    padding: .5em 0;
    height: 3.5em;

    span {
        font-size: 1.2em;
    }

    &.error {
        background-color: $error-color;
        color: darken($white, 10%);
    }

    &.success {
        background-color: $success-color;
        color: darken($white, 10%);
    }

    &.alert {
        background-color: $alert-color;
        color: darken($white, 10%);
    }

    &.notice {
        background-color: $notice-color;
        color: $color-neutral-60;
    }

    i {
        opacity: .75;
        font-size: 1.2em * 1.5;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1.2em / 4  1.2em / 3;

        &:hover {
            opacity: 1;
            cursor: pointer;
        }
    }
}

footer.feedback {

    @include transition(all cubic-bezier(.295, .305, .065, 1.455) .3s);
    opacity: 1;
    height: 3.5em*1.1;
    bottom: -3.5em*.1;

    &.ng-hide {
        opacity: 0;
    }

    &.ng-hide-remove {
        animation-name: feedback;
        animation-duration: 1s;
    }
}

@keyframes feedback {
    0%,
    40%,
    80%,
    100% {
        transition-timing-function: cubic-bezier(.215, .610, .355, 1);
    }

    0% {
        transform: scaleY(.3);
        bottom: -3.5em;
    }

    20% {
        transform: scaleY(1.2);
        bottom: -3.5em*.1;
    }

    40% {
        transform: scaleY(1);
    }

    60% {
        transform: scaleY(1.1);
    }

    80% {
        transform: scaleY(.98);
    }

    100% {
        transform: scaleY(1);
    }
}
