i.success:before {
    content: '\f00c';
}

i.failed:before {
    content: '\f00d';
}

i.skipped:before {
    content: '\f127';
}

i.blocked:before {
    content: '\f05e';
}

i.runner:before {
    content: '\f04b';
}

i.organizer:before {
    content: '\f114';
}

i.writer:before {
    content: '\f040';
}
