.intro {
    @include outer-container;
    position: relative;
    top: 50%;
    margin-top: -12em;
    max-width: 28em;

    h1 {
        font-size: modular-scale(1, 2rem, $octave);
        margin-bottom: modular-scale(1, 2rem, $octave) / 18;

        i {
            margin-right: .25em;
            color: $blue;
        }
    }

    h2 {
        font-size: modular-scale(1, 1rem, $major-tenth);
        margin-bottom: modular-scale(1, 1rem, $major-tenth) / 3;
    }

    h1,
    h2 {
        text-align: center;

        i {
            margin-right: .2em;
        }
    }

    input {
        font-size: modular-scale(1, 1rem, $perfect-fifth);
        width: 100%;
    }

    input[type="email"] {
        margin-bottom: .2em;
    }

    .view-animate {
        position: absolute;
        width: 100%;

        &.ng-leave {
            @include transition(all $animate-std-cubic $view-animate-hide-speed);

            &.ng-leave-active {
                opacity: 0;
            }
        }

        &.ng-enter {
            @include transition(all $animate-std-cubic $view-animate-show-speed $view-animate-hide-speed);
            opacity: 0;

            &.ng-enter-active {
                opacity: 1;
            }
        }
    }

    .error-feedback,
    .notice-feedback {
        margin-top: 1em;
        text-align: center;
    }

}
