body {
    margin: 0;
    background-color: $body-bg-color;
    color: $body-color;

    h1,
    h2,
    h3,
    h4 {
        font-weight: $header-font-weight;
    }
}

$grid-columns: $layout-columns;
$menu-size: $layout-menu-col / $layout-columns * 100%;

div.layout {
    position: absolute;
    height: 100%;
    @include fill-parent;

    > header {
        @include fill-parent;
        height: $header-height;
        min-width: $header-height * 10;
        background-color: $header-bg-color;
        position: fixed;
        z-index: 10000;

        .title,
        .search,
        .account {
            color: $header-title-color;
            position: relative;
        }

        .title,
        .search {
            font-size: $header-title-size;
            float: left;
        }

        .title {
            background-color: $header-title-bg-color;
            width: $menu-size;
            @include pad(($header-height - $header-title-size)/8 $header-height/8);

            span {
                @include ellipsis;
            }
        }

        .search {
            width: $layout-main-col-r / $layout-columns * 100%;
            min-height: 100%;
            @include pad(($header-height - $header-title-size)/8 $header-height/4);
            margin-left: $header-height/10;

            i {
                position: absolute;
                top: .5em;
                left: .1em;
                margin-right: .3em;
                color: $header-search-ico-color;
            }

            input {
                line-height: 1.45em;
                margin: 0;
                padding: 0 .3em;
                background: none;
                border: 0;
                box-shadow: none;
                color: $header-title-color;;
                border-radius: 0;

                // temporary fix for webkit issue 46543
                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0 50px $header-bg-color inset;
                    -webkit-text-fill-color: $header-title-color;
                }
            }
        }

        .account {
            float: right;
            min-height: 100%;
            @include pad(($header-height - $header-title-size)/8 $header-height/8);

            > img {
                height: $header-account-img-size;
                position: absolute;
                right: $header-account-img-pad;
                top: $header-account-img-pad;
                max-width: none;
                cursor: pointer;
            }

            .name {
                @include pad($header-account-name-pad $header-account-name-pad/2);
                right: 4em;
                position: absolute;

                > span {
                    display: block;
                    text-align: right;

                    &.first {
                        font-size: $header-account-first-size;
                        line-height: $header-account-first-lh;
                    }

                    &.last {
                        font-size: $header-account-last-size;
                    }
                }
            }
        }
    }

    > nav,
    > .main {
        top: $header-height;
    }

    > nav {
        width: $menu-size;
        background-color: $layout-side-bg-color;
        position: fixed;
        min-height: 100%;
        color: $layout-side-color;
        z-index: 2;

        .modules {
            @include row;
            padding: $header-height/6 .45em;
            min-height: $header-height;
            max-height: $header-height;
            vertical-align: middle;
            overflow: hidden;

            li {
                float: left;
                font-size: 1.8em;
                padding: 0 .25em;
                margin-left: .15em;
                min-width: 1.6em;
                text-align: center;
                border-radius: .25em;
                position: relative;

                &:hover {
                    cursor: pointer;
                    background: $layout-side-bg-hover-color;
                    color: $highlight-color;
                }

                &.active {
                    background: $layout-active-comp-bg-color;
                    color: $base-accent-color;
                }

                .badge {
                    position: absolute;
                    top: .2em;
                    right: .3em;
                    padding: 0 .5em;
                    background: $badge-bg-color;
                    color: $badge-color;
                    border-radius: $badge-radius;
                    font-size: .4em;
                }
            }
        }

        .sections {

            li {
                @include row;
                @include ellipsis;
                @include pad($layout-menu-size/4 $layout-menu-size/2);
                font-size: $layout-menu-size;
                border-left: .3em solid $layout-side-bg-color;
                position: relative;

                &:hover,
                &.active {
                    color: $highlight-color;
                    background-color: $layout-side-bg-hover-color;
                }

                &:hover {
                    cursor: pointer;
                    border-color: $layout-side-color;
                }

                &.active {
                    border-color: $base-accent-color;
                }

                .badge {
                    position: absolute;
                    top: .43em;
                    right: .3em;
                    padding: 0 .5em;
                    background: $badge-bg-color;
                    color: $badge-color;
                    border-radius: $badge-radius;
                    font-size: .9em;
                }
            }
        }

        h1 {
            font-size: $layout-menu-header-size;
            display: block;
            @include pad($layout-menu-header-size/8 $layout-menu-header-size/4);
            background: $layout-side-header-bg-color;
            color: $layout-side-header-color;
        }
    }

    > .main {
        margin-left: $menu-size;
        position: relative;
    }

}
