.loader {
    @include outer-container;
    position: relative;
    top: 18em;
    max-width: 28em;
    text-align: center;

    span,
    i {
        font-size: modular-scale(1, 1rem, $perfect-fifth);
    }

}
