<div class="top-filter ic ng-hide filter-2" ng-show="filter.loaded" ng-class="{'active':available.selectedItem === null}" ng-click="available.selectedItem = null" ng-controller="AvailableFilterCtrl as filter">
    <i class="fa fa-bars" ng-click="available.expander.toggleAll()"></i>
    <div class="filters">
        <i class="fa fa-folder-open-o" ng-class="{'inactive':!available.filter.set.keys.length}" ng-click="filter.expand.set = !filter.expand.set"></i>
        <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_SET" ng-hide="!available.filter.set.keys.length && !filter.expand.set"></span>
        <div class="select" filter-select="filter.sets" filter-id="available.filter.set.id" placeholder="filter.setPlaceholder" ng-hide="!filter.expand.set" max-items="{{available.maxSelectItems}}"></div>
        <i class="fa fa-tag" ng-class="{'inactive':!available.filter.tag.keys.length}" ng-click="filter.expand.tag = !filter.expand.tag"></i>
        <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_TAG" ng-hide="!available.filter.tag.keys.length && !filter.expand.tag"></span>
        <div class="select" filter-select="filter.tags" filter-id="available.filter.tag.id" placeholder="filter.tagPlaceholder" multiple="true" ng-hide="!filter.expand.tag" max-items="{{available.maxSelectItems}}"></div>
    </div>
    <div class="actions">
        <button ng-click="available.run('all')">
            <i class="fa fa-play"></i>
            <span translate="RUNNER.AVAILABLE.FILTER.RUN_ALL"></span>
        </button>
        <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_ENVIRONMENT"></span>
        <div class="select" filter-select="available.environments" filter-id="available.filter.env.id" placeholder="available.envPlaceholder" synchronize="true" max-items="{{available.maxSelectItems}}"></div>
    </div>
</div>
<ul id="story-list" class="main-content-list filter-2">
    <li class="ic cl list-animate" ng-repeat="book in filteredBooks = (storybooks() | storybookPaginationFilter:available.currentPage:available.maxScenarios) track by book.id">
        <div ng-class="{'active':available.selectedItem === 'book'+book.id}" ng-click="available.selectedItem = 'book'+book.id">
            <div class="title">
                <i class="fa fa-bars" data-toggle="book"></i>
                <span>{{ book.title }}</span>
            </div>
            <div class="actions">
                <button ng-click="available.run('book',book.id)">
                    <i class="fa fa-play"></i>
                    <span translate="RUNNER.AVAILABLE.FILTER.RUN"></span>
                </button>
                <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_ENVIRONMENT"></span>
                <div class="select" filter-select="available.environments" filter-id="available.filter.env.id" placeholder="available.envPlaceholder" synchronize="true" max-items="{{available.maxSelectItems}}"></div>
            </div>
        </div>
        <ul>
            <li class="ic cl" ng-repeat="story in book.stories track by story.id">
                <div ng-class="{'active':available.selectedItem === 'story'+story.id}" ng-click="available.selectedItem = 'story'+story.id" data-toggle="story">
                    <div class="title">
                        <i class="fa"></i>
                        <span>{{ story.title }}</span>
                    </div>
                    <div class="actions">
                        <button ng-click="available.run('story',story.id)">
                            <i class="fa fa-play"></i>
                            <span translate="RUNNER.AVAILABLE.FILTER.RUN"></span>
                        </button>
                        <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_ENVIRONMENT"></span>
                        <div class="select" filter-select="available.environments" filter-id="available.filter.env.id" placeholder="available.envPlaceholder" synchronize="true" max-items="{{available.maxSelectItems}}"></div>
                    </div>
                </div>
                <ul>
                    <li class="ic cl" ng-repeat="scenario in story.scenarios track by scenario.id">
                        <div ng-class="{'active':available.selectedItem === 'scenario'+scenario.id}" ng-click="available.selectedItem = 'scenario'+scenario.id">
                            <div class="title">
                                <span>{{ scenario.title }}</span>
                            </div>
                            <div class="actions">
                                <button ng-click="available.run('scenario',scenario.id)">
                                    <i class="fa fa-play"></i>
                                    <span translate="RUNNER.AVAILABLE.FILTER.RUN"></span>
                                </button>
                                <span translate="RUNNER.AVAILABLE.FILTER.BEFORE_ENVIRONMENT"></span>
                                <div class="select" filter-select="available.environments" filter-id="available.filter.env.id" placeholder="available.envPlaceholder" synchronize="true" max-items="{{available.maxSelectItems}}"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<h1 class="hero-notice" translate="RUNNER.AVAILABLE.NO_STORIES" ng-show="filteredBooks.length === 0 && initialized"></h1>
<div pagination class="pagination appear-delayed" has-next="available.hasMorePages()" current-page="available.currentPage" list-ref="available.storyListRef" />
