<div class="top-filter filter-1" ng-class="{'active':running.selectedItem === null}" ng-click="running.selectedItem = null" ng-controller="RunningFilterCtrl as filter">
    <div class="filters">
        <i class="fa fa-globe" ng-class="{'inactive':!running.filter.env.keys.length}"></i>
        <span translate="RUNNER.RUNNING.FILTER.BEFORE_ENVIRONMENT"></span>
        <div class="select" filter-select="filter.environments" filter-id="running.filter.env.id" placeholder="filter.envPlaceholder" max-items="{{running.maxSelectItems}}"></div>
    </div>
</div>
<ul class="main-content-list filter-1">
    <li class="ic cl list-animate" ng-repeat="run in filteredRuns = runs() track by run.id">
        <div ng-class="{'active':running.selectedItem === 'run'+run.id}">
            <div class="title limited">
                <div class="radial-progress" progress="run.progress.percentage" highlight="run.progress.highlight"></div>
                <span class="separate">{{::run.title}}</span>
            </div>
            <div class="comments">
                <span class="highlight">#{{::run.id}}</span>
                <span>-</span>
                <span>{{run.msg.runtime}}</span>
                <i class="fa fa-globe separate"><span class="tip left">{{::run.msg.environment}}</span></i>
                <i class="fa fa-user"><span class="tip left">{{::run.startedBy.name}}</span></i>
            </div>
        </div>
        <ul>
            <li class="ic cl" ng-repeat="story in run.progress.stories track by story.id">
                <div ng-class="{'active':running.selectedItem === 'story'+story.id}" ng-click="running.selectedItem = 'story'+story.id" data-toggle="story">
                    <div class="title">
                        <div class="radial-progress" progress="story.progress.percentage" highlight="story.progress.highlight"></div>
                        <span class="separate">{{::story.title}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
<h1 class="hero-notice" translate="RUNNER.RUNNING.NO_RUNS" ng-show="runs().length === 0"></h1>
