div.editor-content {
    height: 100%;
    margin-top: $header-height;
    margin-right: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > div {
        overflow: hidden;
    }

    .title, .title span {
        max-width: 100%;
    }

    .scenario-content-list {
        min-height: 1em;

        > li {
            opacity: 0;
        }
    }

    .expand .scenario-content-list {
        > li {
            opacity: 1;
        }
    }

    &.sb-expand {
        margin-right: 19em;
    }

    .sorting {
        border: 2px dashed;
        background: lighten($yellow, 20%);
    }
}
