div.editor-content {
    height: 100%;
    margin-top: $header-height;
    margin-right: $sidebar-collapsed-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    > div {
        overflow: hidden;
    }

    .title, .title span {
        max-width: 100%;
    }

    .scenario-content-list {
        min-height: 1em;
    }

    &.sb-expand {
        margin-right: $sidebar-expanded-width;
    }
}
