.sidebar {
    position: fixed;
    top: $header-height*2;
    right: 0;
    bottom: 0;
    width: 3em;
    overflow: hidden;
    background-color: darkgray;
    @include transition(width ease-in $sidebar-toggle-speed);

    &.expand {
        width: 19em;
    }
}
