.sidebar {
    position: fixed;
    top: $header-height*2;
    right: 0;
    bottom: 0;
    width: $sidebar-collapsed-width;
    overflow: hidden;
    background-color: darkgray;

    &.expand {
        width: $sidebar-expanded-width;
    }
}
