// =========== Story list

ul.story-list {
	padding: $spacing;
	border-radius: $border-radius-10;

	li > div {
		@include display(flex);
        @include align-items(center);
        position: relative;
        padding: 0 $spacing/2;
        height: 3rem;

        &.active {
			background: $color-brand-60;
			color: $white;

			i:after, i:before { color: $white; }
		}

		&.selectable {
			cursor: pointer;

			&:hover {
				background: $color-brand-30;
				color: $color-neutral-60;
			}
		}

		&:hover .actions {
	    	opacity: 1;
			width: auto;
			overflow: visible;
		}
	}

	div.title {
        @include display(flex);
        @include align-items(center);
        @include flex(1 1 auto);
    }

    .actions {
        @include display(flex);
        @include align-items(center);
        opacity: 0;
        width: 0;
        overflow: hidden;
        height: 100%;
        padding: $spacing/2;

        .separate { margin: 0 0.25rem;}
    }

    i {
    	font-size: 1.2rem;
    	width: 1.5rem;
    	text-align: center;
    }

}

li.story-list--header {

	&:not(:last-of-type) { margin-bottom: $spacing; }

	> div {
		font-size: 1.2rem;
		background: $color-neutral-40;
		color: $white;
		margin: 0;
		padding-left: $spacing/2;
		box-shadow: 0 1px 2px 0 rgba($color-neutral-90, 0.04);


    	.prefix i { margin-right: $spacing/2; }

	}

	> ul > li {
		background: #c8ced0;
	}

}

ul.story-list--stories {
	border: 1px solid $color-neutral-30;

	li:not(:last-of-type) > div {
		border-bottom: 1px solid $color-neutral-30;
	}

	li > div {
		background: $white;
		padding: 0 1.15rem;
	}

	div.header {
		padding: $spacing/2;

		i {
			position: relative;
			left: -1px;
			margin-right: $spacing/2;
		}
	}
}
