// ========== Title
.title, 
.story-list--tools {
    @include flex(1 1 auto);
    @include display(flex);
    @include align-items(center);
    margin-right: $spacing;

    span {
        @include flex(0 0 auto);
        margin-right: $spacing/2;
    }

    input {
        @include placeholder { color: $color-neutral-60; }
        display: inline-block;
        background-color: $color-brand-40;
        border: 0;
        border-bottom: #86949B 1px dashed;
        box-shadow: none;
        color: inherit;

        &.tt-hint {
            color: $color-neutral-60;
        }
    }
}

