.top-filter {
    @include display(flex);
    @include align-items(center);
    height: $header-height;
    background: $color-brand-60;
    color: $white;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 $spacing;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    @include transition(background $animate-std-cubic .1s, opacity $animate-std-cubic $view-animate-show-speed $view-animate-hide-speed);

    .actions {
        @include transition(opacity linear .2s, width linear 0s .2s);
    }

    > * { cursor: pointer; }

    > i,
    .prefix i {
        @include flex(0 0 auto);
        font-size: $font-size-60;
        margin-right: $spacing;
        color: $color-neutral-90;
    }

    i { margin-top: 2px; }
}

.title, .story-list--tools {
    @include flex(1 1 auto);
    @include display(flex);
    @include align-items(center);
    margin-right: $spacing;

    span {
        @include flex(0 0 auto);
        margin-right: $spacing/2;
    }

    input {
        @include placeholder {
            color: $color-neutral-60;
        }
        display: inline-block;
        background-color: $color-brand-40;
        border: 0;
        border-bottom: #86949B 1px dashed;
        box-shadow: none;
        color: inherit;

        &.tt-hint {
            color: $color-neutral-60;
        }
    }
}

.actions {
    @include flex(0 0 auto);
    @include display(flex);
    @include align-items(center);

    > button {
        background: $color-neutral-90;
        border: solid 2px $color-neutral-90;
        border-radius: $border-radius-20;
        // font-size: 0.876rem;
        padding: $spacing/3 $spacing/1.5;
    }

    > span {
        padding: 0 $spacing/3;
    }
}

.filters {
    @include flex(1 0 auto);
    @include display(flex);
    @include align-items(center);

    > span { margin-right: $spacing/2; }
    > span:not(:only-child) { display: none; }

    > i {
        color: $white;
        margin-right: $spacing/2;
    }

    > div { margin-right: $spacing*2; }

    button i { margin-top: -1px; }

}
