<div class="stories filter list-item">
    <div class="header selectable" ng-click="stories.selectedItem.setSelectedItem(null)">
        <div class="prefix">
            <i class="fa fa-bars" ng-click="toggleAll()"></i>
        </div>
        <div class="title">
            <span class="verbose" translate="WRITER.STORIES.BEFORE_STORIES_FILTER"></span>

            <div class="select"></div>
        </div>
        <div class="actions">
            <a href="#/writer/stories/new">
                <i class="fa fa-plus"></i>
                <span translate="WRITER.STORIES.NEW_STORY"></span>
            </a>
        </div>
    </div>
</div>
<ul class="stories list" story-collapse>
    <li class="list-item book" ng-repeat="book in storybooks track by book.id">
        <div class="header selectable" ng-class="{'active':stories.selectedItem.isItemSelected(book)}"
             ng-click="stories.selectedItem.setSelectedItem(book)">
            <div class="prefix" data-toggle="collection">
                <i class="fa fa-bars"></i>
            </div>
            <div class="title">
                <span class="separate">{{::book.title}}</span>
            </div>
            <div class="actions">
                <a href="#/writer/stories/new/{{::book.id}}">
                    <i class="fa fa-plus"></i>
                    <span translate="WRITER.STORIES.NEW_STORY"></span>
                </a>
            </div>
        </div>
        <ul>
            <li class="list-item story " ng-repeat="story in book.stories track by story.id">
                <div class="header selectable" ng-class="{'active':stories.selectedItem.isItemSelected(story)}"
                     ng-click="stories.selectedItem.setSelectedItem(story)">
                    <div class="prefix" data-toggle="story">
                        <i class="fa expand"></i>
                    </div>
                    <div class="title">
                        <span class="separate">{{::story.title}}</span>
                    </div>
                    <div class="actions">
                        <a href="#/writer/stories/{{::story.id}}">
                            <i class="fa fa-edit"></i>
                            <span translate="WRITER.STORIES.EDIT"></span>
                        </a>
                    </div>
                </div>
                <ul>
                    <li class="list-item scenario" ng-repeat="scenario in story.scenarios track by scenario.id">
                        <div class="header selectable">
                            <div class="prefix"></div>
                            <div class="title">
                                <span class="separate">{{::scenario.title}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
