<div class="top-filter ic selectable"
     ng-class="{'active':story.selectedItem.isItemSelected(null)}" ng-click="story.selectedItem.setSelectedItem(null)">
    <i class="fa" ng-class="{'fa-chevron-left': !story.createNew, 'fa-times': story.createNew}" ng-click="story.list()"></i>
    <div class="title">
        <span class="verbose" translate="WRITER.STORIES.BEFORE_NEW_TITLE"></span>
        <input type="text" ng-model="story.title">
    </div>
    <div class="actions">
        <i class="fa" ng-class="{'fa-search-minus': story.hasVisibleSidebar(), 'inactive fa-search-plus': !story.hasVisibleSidebar()}" ng-click="story.toggleVisible()"></i>
    </div>
</div>
<div class="editor-content">
    <ul id="main-content-list" story-collapse class="main-content-list">
        <li class="cl list-animate">
            <div class="selectable" ng-class="{'active':story.selectedItem.isItemSelected({id:0})}" ng-click="story.selectedItem.setSelectedItem({id:0})">
                <div class="title">
                    <span class="separate" translate="WRITER.STORIES.LIST.PROLOGUE"></span>
                </div>
            </div>
            <scenario-view scenarios="story.prologue" class="ic cl list-animate"></scenario-view>
        </li>
        <li class="cl list-animate">
            <div class="selectable" ng-class="{'active':story.selectedItem.isItemSelected({id:1})}" ng-click="story.selectedItem.setSelectedItem({id:1})">
                <div class="title">
                    <span class="separate" translate="WRITER.STORIES.LIST.SCENARIOS"></span>
                </div>
            </div>
            <scenario-view scenarios="story.scenarios" class="ic cl list-animate"></scenario-view>
        </li>
        <li class="cl list-animate">
            <div class="selectable" ng-class="{'active':story.selectedItem.isItemSelected({id:2})}" ng-click="story.selectedItem.setSelectedItem({id:2})">
                <div class="title">
                    <span class="separate" translate="WRITER.STORIES.LIST.EPILOGUE"></span>
                </div>
            </div>
            <scenario-view scenarios="story.epilogue" class="ic cl list-animate"></scenario-view>
        </li>
    </ul>
    <div class="tools">
        <input class="typeahead" type="text" placeholder="{{story.inputPlaceholder}}" sf-typeahead options="story.typeAheadOptions" datasets="story.stepsDataset" ng-model="story.inputValue" >
        <div class="select"></div>
        <div class="actions">
            <button ng-show="story.isString(story.inputValue)">
                <i class="fa fa-chain-broken" ></i>
                <span>Add pending</span>
            </button>
            <button ng-click="story.insertObject()" ng-hide="story.isString(story.inputValue)">
                <span>Insert</span>
            </button>
        </div>
    </div>
</div>

