<div class="top-filter filter-1 ic selectable"
     ng-class="{'active':story.selectedItem.isItemSelected(null)}" ng-click="story.selectedItem.setSelectedItem(null)">
    <i class="fa" ng-class="{'fa-chevron-left': !story.createNew, 'fa-times': story.createNew}"
       ng-click="story.list()"></i>

    <div class="title">
        <input type="text" ng-model="story.title">
    </div>
    <div class="actions">
        <i class="fa fa-search-minus" ng-click="story.toggleVisible()"></i>
    </div>
</div>
<div class="editor-content">
    <scenario-view scenarios="story.scenarios"></scenario-view>
    <div class="tools">
        <input type="text">

        <div class="select"></div>
        <div class="actions">
            <button>
                <i class="fa fa-chain-broken"></i>
                <span>Add pending</span>
            </button>
            <button ng-click="story.insertObject()">
                <span>Insert</span>
            </button>
        </div>
    </div>
</div>

