<ul id="scenario-list" sortable="scenarios" handle=".scenario-handle">
    <li class="ic cl" ng-repeat="scenario in scenarios track by scenario.id">
        <div class="selectable" ng-class="{'active':selectedItem.isItemSelected(scenario)}" ng-click="selectedItem.setSelectedItem(scenario)">
            <div class="title editable">
                <i class="fa fa-ellipsis-v scenario-handle"></i>
                <i class="fa expand" data-toggle="story"></i>
                <span class="separate editable">{{scenario.title}}</span>
                <input type="text" ng-model="scenario.title">
            </div>
            <div class="actions">
                <button ng-click="scenarioView.deleteItem(scenarios, $index, scenario)">
                    <i class="fa fa-trash-o"></i>
                    <span translate="WRITER.STORIES.SCENARIOS.DELETE"></span>
                </button>
            </div>
        </div>
        <ul class="scenario-content-list" sortable="scenario.steps" handle=".step-handle" connect-with=".scenario-content-list">
            <li class="ic cl" ng-repeat="step in scenario.steps">
                <div class="selectable" ng-class="{'active': selectedItem.isItemSelected(step)}" ng-click="selectedItem.setSelectedItem(step);">
                    <div class="title">
                        <i class="fa fa-ellipsis-v step-handle"></i>
                        <span>{{::step.title}}</span>
                    </div>
                    <div class="actions">
                        <strong class="hint--left separate" data-hint="{{'WRITER.STORIES.SCENARIOS.PENDING' | translate}}"><i class="fa fa-exclamation-circle" ng-show="scenarioView.isStepIncomplete(step)"></i></strong>
                        <strong class="hint--left" data-hint="{{'WRITER.STORIES.SCENARIOS.DELETE' | translate}}"><i class="fa fa-trash-o" ng-click="scenarioView.deleteItem(scenario.steps, $index, step)"></i></strong>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
