<div class="sb-header">
    <i class="fa" ng-class="{'fa-search-minus': isShown(), 'inactive fa-search-plus': !story.isShown()}" ng-click="$parent.toggleExpand()"></i>
</div>
<div class="variable-view">
    <div ng-repeat="variableScope in scenarioVariablesView.variableScopes">
        <div class="header">
            <div class="title">
                <span>{{variableScope.title}}</span>
            </div>
            <div class="actions">
                <a class="fa fa-caret-up"></a>
            </div>
        </div>
        <div class="variables">
            <ul>
                <li ng-class="{undefined: variable.getSetValue() === undefined}" ng-repeat="variable in variableScope.variables">
                    <div class="variable" ng-class="['var' + variable.getSetValue(), variable.getVariableClass()]">
                        <div class="title">
                            <span ng-click="scenarioVariablesView.editVariable(variable)">{{variable.getSetName()}}</span>
                        </div>
                        <div class="value">
                            <span>{{variable.getSetValue()}}</span>
                        </div>
                        <div class="status">
                            <i class="fa fa-chain"
                               ng-class="{'fa-chain-broken': !variable.isLinked(), 'fa-chain': variable.isLinked()}"></i>
                        </div>
                    </div>
                </li>
                <li ng-if="variableScope.addable">
                    <div>
                        <i class="fa fa-plus"></i>
                        <i>Add one more</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
