<ul id="scenario-list" sortable="scenarios" handle="mainListHandler">
    <li class="ic cl" ng-repeat="scenario in scenarios track by scenario.id">
        <div class="selectable" ng-class="{'active':selectedItem.isItemSelected(scenario)}"
             ng-click="selectedItem.setSelectedItem(scenario)">
            <div class="title">
                <i class="fa expand handle" data-toggle="story"></i>
                <input type="text" ng-model="scenario.editorTitle" ng-init="scenario.editorTitle = scenario.title;">
            </div>
            <div class="actions">
                <button ng-click="scenarioView.applyScenarioTitle(scenario);"
                        ng-show="scenario.title !== scenario.editorTitle">
                    <i class="fa fa-check"></i>
                    <span>Apply</span>
                </button>
                <button ng-click="scenarioView.deleteItem(scenarios, $index)">
                    <i class="fa fa-trash-o"></i>
                    <span>Delete</span>
                </button>
                <i class="fa fa-tag"></i>
            </div>
        </div>
        <ul class="scenario-content-list" sortable="scenario.steps" handle="stepListHandler" connect-with="scenarioContentListClass">
            <li class="ic cl" ng-repeat="step in scenario.steps">
                <div class="selectable" ng-class="{'active': selectedItem.isItemSelected(step)}"
                     ng-click="selectedItem.setSelectedItem(step);">
                    <div class="title">
                        <i class="fa fa-bars scenario-handle"></i>
                        <span>{{::step.title}}</span>
                    </div>
                    <div class="actions">
                        <i class="fa fa-info-circle" ng-show="scenarioView.isStepIncomplete(step)"></i>
                        <i class="fa fa-trash-o" ng-click="scenarioView.deleteItem(scenario.steps, $index)"></i>
                    </div>
                </div>
            </li>
        </ul>
    </li>
</ul>
