<div class="modal-window">
    <div class="title">{{variableModalCtrl.title}}</div>
    <div class="simple-text-input" ng-show="variableModalCtrl.simple">
        <label>{{variableModalCtrl.variable.getSetName()}}
            <input type="text" ng-model="variableModalCtrl.variable.getSetValue" ng-model-options="{ getterSetter: true }" >
        </label>
    </div>
    <div class="table-text-input" ng-hide="variableModalCtrl.simple">
        <form>
            <ul class="tabs">
                <li ng-repeat="tab in variableModalCtrl.tabs | filter:variableModalCtrl.ignoreUndefinedFilter" ng-click="variableModalCtrl.visibleTab = $index" ng-class="{selected: variableModalCtrl.visibleTab === $index}">
                    {{$index + 1}}
                <li ng-click="variableModalCtrl.addNewTab()">+
            </ul>

            <ul class="tab-content">
                <li ng-repeat="tab in variableModalCtrl.tabs | filter:variableModalCtrl.ignoreUndefinedFilter" ng-show="variableModalCtrl.visibleTab === $index">
                    <label ng-repeat="field in tab">{{field.name}}
                        <input type="text" ng-model="field.value">
                    </label>
                </li>
            </ul>
        </form>

    </div>
    <p class="description">
        {{variableModalCtrl.description}}
    </p>

    <div class="actions">
        <button ng-show="variableModalCtrl.simple === false && variableModalCtrl.tabs.length !== 0"
                ng-click="variableModalCtrl.removeTab(variableModalCtrl.visibleTab)"><i
            class="fa fa-trash-o"></i>Delete
        </button>
        <button ng-click="variableModalCtrl.close()"><i class="fa fa-times"></i>Cancel</button>
        <button ng-click="variableModalCtrl.apply()"><i class="fa fa-check"></i>Apply</button>
    </div>
</div>
