// breakpoints
$full-menu-min-size-bp:           new-breakpoint(max-width 67em);
$full-menu-min-size:              14em;

$full-filter-size-bp:             new-breakpoint(max-width 82em);

@include media($full-menu-min-size-bp) {
    div.layout {

        > header .title {
            width: ($full-menu-min-size / $header-title-size) * 1em;
        }

        > aside {
            width: $full-menu-min-size;
        }

        > .main {
            margin-left: $full-menu-min-size;
        }
    }
}

@include media($full-filter-size-bp) {
    .top-filter {
        min-width: 55em;

        .filters {
            > i {
                display: inline-block;
            }

            > span {
                width: 0;
                opacity: 0;
            }
        }
    }
}
