input[type="submit"],
button {

    &.primary {
        background-color: $base-accent-color;
        color: $highlight-color;

        &:hover {
            background-color: darken($base-accent-color, 10%);
            color: darken($highlight-color, 10%);
        }
    }

    &:disabled {
        opacity: .3;
        cursor: default;
    }
}

.fa-spin {
    @include animation(spin 1.4s infinite linear);
}

input.ng-invalid {
    border-color: $error-color;
    background-color: lighten($error-color, 45%);
    box-shadow: inset 0 1px 8px lighten($error-color, 30%), 0 0 8px lighten($error-color, 30%);
}

.error-feedback {
    display: block;
    padding: .5em;
    background-color: $error-color;
    border-radius: $base-border-radius;
    color: $body-bg-color;
}

.notice-feedback {
    display: block;
    padding: .5em;
    background-color: $notice-color;
    border-radius: $base-border-radius;
    color: $body-color;
}

.select {

    button {
        border-radius: .45em;

        &:focus {
            outline: 0;
        }
    }

    .select-dropdown {
        border-radius: .3em;
        @include css-triangle(.5em, $select-list-border-width, $select-list-border-color, top, $select-list-bg-color, absolute);

        button:first-child {
            border-radius: .2em .2em 0 0;
        }

        button:last-child {
            border-radius: 0 0 .2em .2em;
        }
    }
}

button {
    background-color: $base-accent-color;
    color: $highlight-color;

    &:hover {
        background-color: darken($base-accent-color, 10%);
        color: darken($highlight-color, 10%);
    }

    &.secondary {
        background-color: $secondary-button-bg-color;

        &:hover {
            background-color: $secondary-button-bg-color-hov;
        }
    }
}
