.main-content-list {

    &.expand > li.cl > ul li.cl,
    > li.cl > ul.expand li.cl,
    > li.cl > ul li.cl.expand {
        > div > div.title > i.expand:after {
            content: '\f0d7';
        }

        > ul {
            opacity: 1;
            height: auto;
            overflow-y: visible;
        }
    }


    margin-bottom: 6em;

    li.cl {

        &.ic > div {
            padding-left: 3.51562em; 
        }

        > div {
            padding-left: 0.53333em;
            position: relative;
            color: darken($dark-gray, 5%);
            margin-top: 2px;

            &.selectable:hover,
            .active {
                > div.title {
                    max-width: calc(100% - 8em);
                }
            }

            &.selectable:hover {
                cursor: pointer;
                background: lighten($blue, 20%);
                color: $white;

                > div.comments {

                    span,
                    a {
                        color: $white;
                    }

                    a.hover {
                        color: darken($white, 10%);
                    }
                }
            }

            > div.title {
                float: left;

                &.editable {
                    position: relative;
                }

                > i {
                    color: lighten($dark-gray, 5%);

                    &.success {
                        color: $success-color;
                    }

                    &.failed {
                        color: $error-color;
                    }
                }

                > input {
                    margin: (($header-height - 1.5rem) / 9.5) .5em / 2;
                    margin-bottom: 0;
                    background-color: rgba(#000,.3);
                    color: $white;
                    border: 0;
                    min-width: 10em;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

                > span,
                > div {
                    @include ellipsis;
                }
            }

            > i,
            > div.title > i,
            > div.title > .radial-progress {
                position: absolute;
            }

            > div.details {
                display: none;
                float: left;
                clear: both;
                font-size: .9em;

                .legend {
                    opacity: .7;
                }
            }

            > div.actions > strong {
                font-size: modular-scale(1, 1rem, $minor-sixth);
                position: relative;
                top: .1em;
            }

            &.detailed.active,
            &.detailed.always {
                min-height: 3.77889rem;
                max-height: 3.77889rem;

                > div.details {
                    display: block;
                }

                > div.comments {
                    display: none;
                }

                > div.actions {
                    top: .7em;
                }
            }
        }
    }

    > li.cl > div > div.details {
        margin: 0 .5em / 2;
    }

    > li.cl > div.active,
    > li.cl > div.selectable:hover,
    > li.cl > ul li.cl > div.active,
    > li.cl > ul li.cl > div.selectable:hover,
    > li.cl > ul li.cl > ul li.cl > div.active,
    > li.cl > ul li.cl > ul li.cl > div.selectable:hover {
        > div.title > .radial-progress {
            .circle .mask .fill {
                background: $white;
            }

            .inset {
                background: $blue;
            }
        }
    }

    > li.cl {
        border-top: lighten(lighten($gray, 10%), 20%) 2px solid;
        background: lighten(lighten($gray, 10%), 20%);

        > div {
            min-height: 3.16128rem;
            max-height: 3.16128rem;
            background: lighten(lighten($gray, 10%), 5%);
            margin-top: 0;

            &.selectable:hover {
                background: lighten($blue, 20%);

                > div.comments {
                    background: lighten($blue, 20%);
                }
            }

            &.active,
            &.active:hover {
                background: $blue;

                > div.comments {
                    background: $blue;
                }
            }

            button,
            .select > button {
                font-size: 1.333rem - .1;
                margin-top: .3em;
            }

            .select > button {
                margin-top: .2em;
            }

            > div > span,
            > div > a,
            > div > i {
                margin: 0 .5em / 4;

                &.separate {
                    margin: 0 .5em / 2;
                }
            }

            > div.title > i,
            > div.title > .radial-progress {
                cursor: pointer;
                left: 0.53333em * 1.25;
                top: .4em;
            }

            > div.title > i {
                font-size: 1.778em;
            }

            > div.title > .radial-progress {
                @include radial-progress(1em, .65em, darken(lighten(lighten($gray, 10%), 5%), 8%), $white, lighten(lighten($gray, 10%), 5%));
                font-size: 1.75em;

                .inset[data-highlight="failed"] {
                    background: $light-red;
                }

                .inset[data-highlight="success"] {
                    background: $lime;
                }
            }

            > div.title > span,
            > div.comments > i,
            > div.comments > strong,
            > div.actions > span {
                font-size: 1.333rem;
                line-height: 1.333rem;
                padding: ((3.16128rem - 1.333rem) / 4) 0;
            }

            > div.comments {
                background: lighten(lighten($gray, 10%), 5%);

                > span,
                > a {
                    font-size: 1rem;
                    line-height: 1rem;
                    padding: ((3.16128rem - 1rem) / 2) 0;
                    color: lighten($dark-gray, 25%);
                }

                > a {
                    color: $blue;

                    &:hover {
                        color: darken($blue, 10%);
                    }
                }

                > i {
                    cursor: pointer;
                }

                > strong.separate {
                    margin-left: .5em / 4;
                }
            }

            p {
                margin: 0;
            }
        }

        > ul {

            li.cl {
                background: lighten(lighten($gray, 10%), 5%);

                > div {
                    min-height: 2.77889rem;
                    max-height: 2.77889rem;
                    background: lighten(lighten($gray, 10%), 15%);

                    &.selectable:hover {
                        background: lighten($blue, 20%);
                    }

                    &.active,
                    &.active:hover {
                        background: $blue;
                    }

                    &.selectable:hover,
                    &.active,
                    &.active:hover {
                        > div.title {
                            > input[type="text"] {
                                opacity: 1;
                            }

                            > span.editable {
                                opacity: 0;
                            }
                        }
                    }

                    > div > button,
                    .select > button {
                        font-size: 1.2rem - .1;
                        margin-top: .27em;
                    }

                    .select > button {
                        margin-top: .17em;
                    }

                    > div > span {
                        margin: 0 .5em / 2;
                    }

                    > div.title {

                        > i,
                        > .radial-progress {
                            left: 0.53333em * 1.75;
                        }

                        &.editable {
                            > i,
                            > .radial-progress {
                                left: -0.6026629em * 1.75;
                            }

                            > span.editable {
                                padding-right: .5em * 2;
                            }
                        }
                    }

                    > div.title > .radial-progress {
                        top: .4em;
                    }

                    > div.title > i {
                        font-size: modular-scale(1, 1rem, $minor-seventh);
                        top: .25em;

                        &.scenario-handle,
                        &.step-handle {
                            font-size: 1.5em;
                            color: #bbb;
                        }

                        &.scenario-handle {
                            top: .4em;
                            left: -2.2em;
                            padding: 0 .3em;
                        }

                        &.step-handle {
                            top: .5em;
                            left: 1.2em;
                            padding: 0 .3em;
                        }

                        &.expand:after {

                            @extend %icon;
                            content: '\f0da';
                        }
                    }

                    > div.title > span,
                    > div.actions > span {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                        padding: ((2.77889rem - 1.2rem) / 3) 0;
                    }

                    > div.title > input[type="text"] {
                        font-size: 1.2rem;
                        padding: ((2.77889rem - 1.2rem) / 5) .5em;
                        margin-left: -.3em;
                        opacity: 0;
                    }

                    > div.title > .radial-progress {
                        @include radial-progress(1em, .75em, darken(lighten(lighten($gray, 10%), 15%), 8%), $white, lighten(lighten($gray, 10%), 15%));
                        font-size: 1.5em;

                        .inset[data-highlight="failed"] {
                            background: $light-red;
                        }

                        .inset[data-highlight="success"] {
                            background: $lime;
                        }
                    }
                }

                > ul {
                    opacity: .5;
                    height: 0;
                    overflow-y: hidden;

                    li.cl > div {
                        background: lighten(lighten($gray, 10%), 20%);
                        padding-top: 1px;
                        margin-top: 2px / 2;

                        &.success {
                            background: lighten($lime, 30%);

                            > div.title .radial-progress .circle .mask .fill {
                                background: lighten($lime, 10%);
                            }
                        }

                        &.failed {
                            background: lighten($light-red, 30%);

                            > div.title .radial-progress .circle .mask .fill {
                                background: lighten($light-red, 10%);
                            }
                        }

                        &.skipped:not(.active) {
                            > div.title,
                            > div.i {
                                opacity: .4;
                            }
                        }

                        &.active {
                            background: $blue;
                        }

                        &.selectable:hover {
                            background: lighten($blue, 20%);
                        }

                        > div > button,
                        .select > button {
                            margin-top: .20em;
                        }

                        .select > button {
                            margin-top: .10em;
                        }

                        > div.title > {

                            .fa-fw {
                                left: 0.53333em;
                            }

                            .radial-progress {
                                @include radial-progress(1em, 0, lighten($light-gray, 4%), darken($light-gray, 8%));
                            }
                        }
                    }

                    li.cl:first-child > div {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
