.main-content-list li.cl > div {
    position: relative;

    > .comments,
    > .actions {
        position: absolute;
        right: 0;
    }

    > .actions {
        @include display(flex);
        @include align-items(center);
        opacity: 0;
        width: 0;
        overflow: hidden;
        height: 100%;

        .separate { margin: 0 0.25rem;}
    }

    > div > span,
    > div > a,
    > div > div,
    > div > i,
    > div > button {
        float: left;
    }

    &.selectable:hover {
        background: $color-brand-30;
    }

    &.quick:hover,
    &.active {
        .actions {
            opacity: 1;
            width: auto;
            overflow: visible;
        }
    }

    &.active,
    &.active:hover {
        background: $color-brand-50;

        .comments > span {
            color: $white;

            &.highlight {
                color: $white;
            }
        }
    }


    > div > button {
        background: $color-neutral-60;
        border: none;
        margin: 0;

        padding: 0.35rem $spacing/2;
        border-radius: $border-radius-20;
        font-size: $font-size-40;
    }


    > div > button:hover {
        background: darken($color-neutral-60, 10%);
    }
}
