.main-content-list {

    &.expand > li.cl > ul li.cl,
    > li.cl > ul.expand li.cl,
    > li.cl > ul li.cl.expand {
        > div > div.title > i.expand:after {
            content: '\f0d7';
        }

        > ul {
            opacity: 1;
            height: auto;
            overflow-y: visible;
        }
    }


    margin-bottom: 6em;

    li.cl {

        &.ic > div {
            padding-left: $section-list-icon-text-pad;
        }

        > div {
            padding-left: $section-list-text-pad;
            position: relative;
            color: $section-header-color;
            margin-top: $content-list-item-spacing;

            &.selectable:hover,
            .active {
                > div.title {
                    max-width: 85%;
                }
            }

            &.selectable:hover {
                cursor: pointer;
                background: $hover-bg-color;
                color: $highlight-color;

                > div.comments {

                    span,
                    a {
                        color: $highlight-color;
                    }

                    a.hover {
                        color: darken($highlight-color, 10%);
                    }
                }
            }

            > div.title {
                float: left;

                &.editable {
                    position: relative;
                }

                > i {
                    color: $section-list-icon-color;

                    &.success {
                        color: $success-color;
                    }

                    &.failed {
                        color: $error-color;
                    }
                }

                > input {
                    margin: (($header-height - $section-header-font-size) / 9.5) $filter-button-padding / 2;
                    margin-bottom: 0;
                    background-color: $list-input-bg-color;
                    color: $inverted-input-color;
                    border: 0;
                    min-width: $section-list-input-width;
                    position: absolute;
                    left: 0;
                    right: 0;
                }

                > span,
                > div {
                    @include ellipsis;
                }
            }

            > i,
            > div.title > i,
            > div.title > .radial-progress {
                position: absolute;
            }

            > div.details {
                display: none;
                float: left;
                clear: both;
                font-size: .9em;

                .legend {
                    opacity: .7;
                }
            }

            &.detailed.active,
            &.detailed.always {
                min-height: $content-list-item-2-det-height;
                max-height: $content-list-item-2-det-height;

                > div.details {
                    display: block;
                }

                > div.comments {
                    display: none;
                }

                > div.actions {
                    top: $content-list-det-actions-top;
                }
            }
        }
    }

    > li.cl > div > div.details {
        margin: 0 $filter-button-padding / 2;
    }

    > li.cl > div.active,
    > li.cl > div.selectable:hover,
    > li.cl > ul li.cl > div.active,
    > li.cl > ul li.cl > div.selectable:hover,
    > li.cl > ul li.cl > ul li.cl > div.active,
    > li.cl > ul li.cl > ul li.cl > div.selectable:hover {
        > div.title > .radial-progress {
            .circle .mask .fill {
                background: $highlight-color;
            }

            .inset {
                background: $base-accent-color;
            }
        }
    }

    > li.cl {
        border-top: $content-list-bg-color $content-list-item-spacing solid;
        background: $content-list-bg-color;

        > div {
            min-height: $content-list-item-1-height;
            max-height: $content-list-item-1-height;
            background: $content-list-item-1-bg-color;
            margin-top: 0;

            &.selectable:hover {
                background: $hover-bg-color;

                > div.comments {
                    background: $hover-bg-color;
                }
            }

            &.active,
            &.active:hover {
                background: $base-accent-color;

                > div.comments {
                    background: $base-accent-color;
                }
            }

            button,
            .select > button {
                font-size: $content-list-item-1-font-size - .1;
                margin-top: $content-list-1-button-margin-top;
            }

            .select > button {
                margin-top: $content-list-1-select-margin-top;
            }

            > div > span,
            > div > a,
            > div > i {
                margin: 0 $filter-button-padding / 4;

                &.separate {
                    margin: 0 $filter-button-padding / 2;
                }
            }

            > div.title > i,
            > div.title > .radial-progress {
                cursor: pointer;
                left: $section-list-icon-left * $content-list-item-1-icon-left;
                top: $content-list-item-1-icon-top;
            }

            > div.title > i {
                font-size: $content-list-item-1-icon-size;
            }

            > div.title > .radial-progress {
                @include radial-progress(1em, .65em, darken($content-list-item-1-bg-color, 8%), #fff, $content-list-item-1-bg-color);
                font-size: $content-list-item-1-progress-size;

                .inset[data-highlight="failed"] {
                    background: $run-failed-color;
                }

                .inset[data-highlight="success"] {
                    background: $run-success-color;
                }
            }

            > div.title > span,
            > div.comments > i,
            > div.comments > strong,
            > div.actions > span {
                font-size: $content-list-item-1-font-size;
                line-height: $content-list-item-1-font-size;
                padding: (($content-list-item-1-height - $content-list-item-1-font-size) / 4) 0;
            }

            > div.comments {
                background: $content-list-item-1-bg-color;

                > span,
                > a {
                    font-size: $content-list-item-1-com-font-size;
                    line-height: $content-list-item-1-com-font-size;
                    padding: (($content-list-item-1-height - $content-list-item-1-com-font-size) / 2) 0;
                    color: $content-list-item-1-com-color;
                }

                > a {
                    color: $base-accent-color;

                    &:hover {
                        color: $link-hover-color;
                    }
                }

                > i {
                    cursor: pointer;
                }

                > strong.separate {
                    margin-left: $filter-button-padding / 4;
                }
            }

            p {
                margin: 0;
            }
        }

        > ul {

            li.cl {
                background: $content-list-3-bg-color;

                > div {
                    min-height: $content-list-item-2-height;
                    max-height: $content-list-item-2-height;
                    background: $content-list-item-2-bg-color;

                    &.selectable:hover {
                        background: $hover-bg-color;
                    }

                    &.active,
                    &.active:hover {
                        background: $base-accent-color;
                    }

                    &.selectable:hover,
                    &.active,
                    &.active:hover {
                        > div.title {
                            > input[type="text"] {
                                opacity: 1;
                            }

                            > span.editable {
                                opacity: 0;
                            }
                        }
                    }

                    > div > button,
                    .select > button {
                        font-size: $content-list-item-2-font-size - .1;
                        margin-top: $content-list-2-button-margin-top;
                    }

                    .select > button {
                        margin-top: $content-list-2-select-margin-top;
                    }

                    > div > span {
                        margin: 0 $filter-button-padding / 2;
                    }

                    > div.title {

                        > i,
                        > .radial-progress {
                            left: $section-list-icon-left * $content-list-item-2-icon-left;
                        }

                        &.editable {
                            > i,
                            > .radial-progress {
                                left: -$section-list-icon-left-invert * $content-list-item-2-icon-left;
                            }

                            > span.editable {
                                padding-right: $section-list-input-padding * 2;
                            }
                        }
                    }

                    > div.title > .radial-progress {
                        top: $content-list-item-2-progress-top;
                    }

                    > div.title > i {
                        font-size: $content-list-item-2-icon-size;
                        top: $content-list-item-2-icon-top;

                        &.scenario-handle,
                        &.step-handle {
                            font-size: 1.5em;
                            color: $content-list-handle-color;
                        }

                        &.scenario-handle {
                            top: .4em;
                            left: -2.2em;
                            padding: 0 .3em;
                        }

                        &.step-handle {
                            top: .5em;
                            left: 1.2em;
                            padding: 0 .3em;
                        }

                        &.expand:after {

                            @extend %icon;
                            content: '\f0da';
                        }
                    }

                    > div.title > span,
                    > div.actions > span {
                        font-size: $content-list-item-2-font-size;
                        line-height: $content-list-item-2-font-size;
                        padding: (($content-list-item-2-height - $content-list-item-2-font-size) / 3) 0;
                    }

                    > div.title > input[type="text"] {
                        font-size: $content-list-item-2-font-size;
                        padding: (($content-list-item-2-height - $content-list-item-2-font-size) / 5) $section-list-input-padding;
                        margin-left: $section-list-input-margin;
                        opacity: 0;
                    }

                    > div.title > .radial-progress {
                        @include radial-progress(1em, .75em, darken($content-list-item-2-bg-color, 8%), #fff, $content-list-item-2-bg-color);
                        font-size: $content-list-item-2-progress-size;

                        .inset[data-highlight="failed"] {
                            background: $run-failed-color;
                        }

                        .inset[data-highlight="success"] {
                            background: $run-success-color;
                        }
                    }
                }

                > ul {
                    opacity: .5;
                    height: 0;
                    overflow-y: hidden;

                    li.cl > div {
                        background: $content-list-item-3-bg-color;
                        padding-top: $content-list-item-3-spacing;
                        margin-top: $content-list-item-spacing / 2;

                        &.success {
                            background: lighten($run-success-color, 30%);

                            > div.title .radial-progress .circle .mask .fill {
                                background: lighten($run-success-color, 10%);
                            }
                        }

                        &.failed {
                            background: lighten($run-failed-color, 30%);

                            > div.title .radial-progress .circle .mask .fill {
                                background: lighten($run-failed-color, 10%);
                            }
                        }

                        &.skipped:not(.active) {
                            > div.title,
                            > div.i {
                                opacity: .4;
                            }
                        }

                        &.active {
                            background: $base-accent-color;
                        }

                        &.selectable:hover {
                            background: $hover-bg-color;
                        }

                        > div > button,
                        .select > button {
                            margin-top: $content-list-3-button-margin-top;
                        }

                        .select > button {
                            margin-top: $content-list-3-select-margin-top;
                        }

                        > div.title > {

                            .fa-fw {
                                left: $section-list-icon-left;
                            }

                            .radial-progress {
                                @include radial-progress(1em, 0, $run-progress-scenario-todo-bg, $run-progress-scenario-done-bg);
                            }
                        }
                    }

                    li.cl:first-child > div {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
