.main-content-list li.cl > div {
    position: relative;

    > .comments,
    > .actions {
        position: absolute;
        right: 1em;
    }

    > .actions {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    > div > span,
    > div > a,
    > div > div,
    > div > i,
    > div > button {
        float: left;
    }

    &.selectable:hover {
        background: $color-detail-50;
    }

    &.quick:hover,
    &.active {
        .actions {
            opacity: 1;
            width: auto;
            overflow: visible;
        }
    }

    &.active,
    &.active:hover {
        background: $color-detail-50;

        .select > button {
            background: none;
            border: $white 2px solid;

            span {
                color: $white;
            }
        }

        .comments > span {
            color: $white;

            &.highlight {
                color: $white;
            }
        }
    }

    > div > button span,
    > div .select > button span {
        line-height: 1 + .5em;
    }

    > div > button {
        background: $dark-gray;
        border: none;
        padding: (.5em / 2) .5em * 2;
    }

    > div .select > button {
        background: none;
        border: $light-gray 2px solid;
        padding: .25em .5em .25em .7em;

        span {
            color: $color-detail-70;
        }
    }

    > div > button:hover {
        background: darken($dark-gray, 10%);
    }
}
