.top-filter,
.main-content-list li.cl > div {
    position: relative;

    > .comments,
    > .actions {
        position: absolute;
        right: $section-list-side-padding;
    }

    > .actions {
        opacity: 0;
        width: 0;
        overflow: hidden;
    }

    > div > span,
    > div > a,
    > div > div,
    > div > i,
    > div > button {
        float: left;
    }

    &.selectable:hover {
        background: lighten($base-accent-color, 20%);
    }

    &.quick:hover,
    &.active {
        .actions {
            opacity: 1;
            width: auto;
            overflow: visible;
        }
    }

    &.active,
    &.active:hover {
        background: $base-accent-color;
        color: #fff;

        .select > button {
            background: none;
            border: $select-list-hl-button-border;

            span {
                color: #fff;
            }
        }

        .comments > span {
            color: #fff;

            &.highlight {
                color: #fff;
            }
        }
    }

    > div > button span,
    > div .select > button span {
        line-height: 1 + $filter-button-padding;
    }

    > div > button {
        background: $dark-gray;
        border: $filter-button-border;
        padding: ($filter-button-padding / 2) $filter-button-padding * 2;
    }

    > div .select > button {
        background: none;
        border: $select-list-button-border;
        padding: ($filter-button-padding / 2) $filter-button-padding;

        span {
            color: $base-accent-color;
        }
    }

    > div > button:hover {
        background: darken($dark-gray, 10%);
    }
}
