.hero-notice {
    width: 100%;
    display: block;
    color: $hero-notice-color;
    font-size: $hero-notice-font-size;
    margin-top: $hero-notice-top;
    text-align: center;
    position: absolute;
}
