.select {
    position: relative;

    button span {
        @include transition(all $animate-std-cubic .3s);
    }

    .select-dropdown {
        opacity: 1;

        &.ng-hide {
            opacity: 0;
        }

        &.ng-hide-add {
            @include transition(all linear .1s .1s);
        }
    }

    > button {
        text-align: left;
        border: $color-neutral-20 2px solid;
        position: relative;

        &.active span {
            min-width: 10em;
        }

        i {
            position: absolute;
            right: .4em * 1.5;
            top: 25%;
            margin-left: .4em;
            color: darken($color-neutral-60, 5%);
        }

        span {
            @include ellipsis;
            min-width: 0;
            margin-right: .4em * 3;
            max-width: 10em;
        }
    }

    .select-dropdown {
        position: absolute;
        text-align: left;
        color: lighten($color-neutral-60, 20%);
        font-weight: normal;
        font-size: 1.1em;
        left: 0;
        top: 2.5em / 1.1em + .4em;
        background: $white;
        width: 100%;
        padding: .4em 0;
        border: lighten($gray, 10%) .1em solid;
        z-index: 2;

        &.paginated {
            padding: 0;
        }

        li {

            @include ellipsis;
            border: 0;
            padding: .3em 1em;
            margin: 0;

            &:hover,
            &.active {
                color: $blue;
            }

            &:hover {
                background: darken($white, 5%);
                cursor: pointer;
            }

            &.active {
                padding-right: 2em;

                &:after {

                    @extend %icon;
                    line-height: inherit;
                    content: '\f00c';
                    color: lighten($color-neutral-60, 20%);
                    position: absolute;
                    right: 1em;
                }
            }

            &.placeholder {
                border-bottom: $color-neutral-20 1px dashed;
            }
        }

        button {
            background: none;
            color: lighten($color-neutral-60, 20%);
            width: 100%;
            padding: 0;
            margin: -.4em 0;
            border-radius: 0;

            &:hover {
                background: darken($white, 10%);
            }
        }
    }
}
