.select {
    position: relative;

    > button {
        text-align: left;
        border: $select-list-button-border;
        position: relative;

        &.active span {
            min-width: $select-list-button-max-width;
        }

        i {
            position: absolute;
            right: $select-list-button-padding * 1.5;
            top: 25%;
            margin-left: $select-list-button-padding;
            color: darken($dark-gray, 5%);
        }

        span {
            @include ellipsis;
            min-width: 0;
            margin-right: $select-list-button-padding * 3;
            max-width: $select-list-button-max-width;
        }
    }

    .select-dropdown {
        position: absolute;
        text-align: left;
        color: lighten($dark-gray, 20%);
        font-weight: normal;
        font-size: $select-list-font-size;
        left: 0;
        top: 2.5em / $select-list-font-size + $select-list-button-padding;
        background: #fff;
        width: 100%;
        padding: $select-list-button-padding 0;
        border: $select-list-border;
        z-index: 2;

        &.paginated {
            padding: 0;
        }

        li {

            @include ellipsis;
            border: 0;
            padding: .3em 1em;
            margin: 0;

            &:hover,
            &.active {
                color: $base-accent-color;
            }

            &:hover {
                background: darken(#fff, 5%);
                cursor: pointer;
            }

            &.active {
                padding-right: 2em;

                &:after {

                    @extend %icon;
                    line-height: inherit;
                    content: '\f00c';
                    color: lighten($dark-gray, 20%);
                    position: absolute;
                    right: 1em;
                }
            }

            &.placeholder {
                border-bottom: $select-list-placeholder-border;
            }
        }

        button {
            background: none;
            color: lighten($dark-gray, 20%);
            width: 100%;
            padding: 0;
            margin: -$select-list-button-padding 0;
            border-radius: 0;

            &:hover {
                background: darken(#fff, 10%);
            }
        }
    }
}
