.tip {
    font-family: $font-family-body;
    left: 0;
    font-size: .7em;
    background: $dark-gray;
    color: $white;
    border-radius: $tooltip-border-radius;
    padding: 0 .5em;
    opacity: 0;
    cursor: default;

    &.left {
        @include css-triangle(.3em, 0, $dark-gray, right, $dark-gray, absolute);
    }
}
