.tip {
    font-family: $font-family-body;
    left: 0;
    font-size: .7em;
    background: $color-neutral-60;
    color: $white;
    border-radius: .3em;
    padding: 0 .5em;
    opacity: 0;
    cursor: default;

    &.left {
        @include css-triangle(.3em, 0, $color-neutral-60, right, $color-neutral-60, absolute);
    }
}
