// Accent Colors
$blue:                                  #049cdb;
$dark-blue:                             #0064cd;
$green:                                 #87b848;
$lime:                                  #beca68;
$red:                                   #a52b1f;
$light-red:                             #c22b1c;
$yellow:                                #ffc40d;
$orange:                                #f90;
$dark-orange:                           #ae4901;
$pink:                                  #c3325f;
$purple:                                #7a43b6;
$gray:                                  darken($light-gray, 20%);
