// breakpoints
$full-menu-min-size-bp:           new-breakpoint(max-width 67em);
$full-menu-max-size-bp:           new-breakpoint(min-width 82em);
$full-menu-min-size:              14em;
$full-menu-max-size:              17em;

$full-filter-size-bp-1-no-act:    new-breakpoint(max-width 54em);
$full-filter-size-bp-2:           new-breakpoint(max-width 94em);

$full-title-size-bp-1:            new-breakpoint(max-width 94em);


@include media($full-menu-min-size-bp) {
    div.layout {

        > header .title {
            width: ($full-menu-min-size / $header-title-size) * 1em;
        }

        > nav {
            width: $full-menu-min-size;
        }

        > .main {
            margin-left: $full-menu-min-size;
        }

        > footer.feedback {
            left: $full-menu-min-size;
        }
    }
}

@include media($full-menu-max-size-bp) {
    div.layout {

        > header .title {
            width: ($full-menu-max-size / $header-title-size) * 1em;
        }

        > nav {
            width: $full-menu-max-size;
        }

        > .main {
            margin-left: $full-menu-max-size;
        }

        > footer.feedback {
            left: $full-menu-max-size;
        }
    }
}

@include media($full-filter-size-bp-1-no-act) {
    .main-content-list.filter-1,
    .top-filter.filter-1 {
        min-width: 30em;

        .select button {
            span {
                max-width: $select-list-button-max-width / 1.5;
            }

            &.active span {
                min-width: $select-list-button-max-width / 1.5;
            }
        }
    }

    .top-filter.filter-1 {
        .filters {
            > i {
                display: inline-block;

                &.show {
                    margin: (($header-height - $section-header-font-size) / 4.5) $filter-button-padding / -2 0 $filter-button-padding / 2;
                }
            }

            > span {
                width: 0;
                opacity: 0;
            }

        }
    }
}

@include media($full-filter-size-bp-2) {
    .main-content-list.filter-2,
    .top-filter.filter-2 {
        min-width: 60em;

        .select button {
            span {
                max-width: $select-list-button-max-width / 1.5;
            }

            &.active span {
                min-width: $select-list-button-max-width / 1.5;
            }
        }
    }

    .top-filter.filter-2 {
        .filters {
            > i {
                display: inline-block;

                &.show {
                    margin: (($header-height - $section-header-font-size) / 4.5) $filter-button-padding / -2 0 $filter-button-padding / 2;
                }
            }

            > span {
                width: 0;
                opacity: 0;
            }
        }
    }
}

@include media($full-title-size-bp-1) {

    .top-filter .title > span.verbose {
        width: 0;
        opacity: 0;
    }
}
