// breakpoints
$full-menu-min-size-bp:           new-breakpoint(max-width 67rem);
$full-menu-max-size-bp:           new-breakpoint(min-width 82rem);
$full-menu-min-size:              14rem;
$full-menu-max-size:              17rem;

$full-filter-size-bp-1-no-act:    new-breakpoint(max-width 54rem);
$full-filter-size-bp-2:           new-breakpoint(max-width 94rem);

$full-title-size-bp-1:            new-breakpoint(max-width 87rem);

$full-list-item-title-size-bp-1:  new-breakpoint(max-width 87rem);
$full-list-item-title-size-bp-2:  new-breakpoint(max-width 65rem);


// @include media($full-menu-min-size-bp) {
//     div.layout {

//         > nav {
//             width: $full-menu-min-size;
//         }

//         > .main {
//             margin-left: $full-menu-min-size;
//         }

//         > footer.feedback {
//             left: $full-menu-min-size;
//         }
//     }
// }

// @include media($full-menu-max-size-bp) {
//     div.layout {

//         > nav {
//             width: $full-menu-max-size;
//         }

//         > .main {
//             margin-left: $full-menu-max-size;
//         }

//         > footer.feedback {
//             left: $full-menu-max-size;
//         }
//     }
// }
