// breakpoints
$full-menu-min-size-bp:           new-breakpoint(max-width 67rem);
$full-menu-max-size-bp:           new-breakpoint(min-width 82rem);
$full-menu-min-size:              14rem;
$full-menu-max-size:              17rem;

$full-filter-size-bp-1-no-act:    new-breakpoint(max-width 54rem);
$full-filter-size-bp-2:           new-breakpoint(max-width 94rem);

$full-title-size-bp-1:            new-breakpoint(max-width 87rem);

$full-list-item-title-size-bp-1:  new-breakpoint(max-width 87rem);
$full-list-item-title-size-bp-2:  new-breakpoint(max-width 65rem);


// @include media($full-menu-min-size-bp) {
//     div.layout {

//         > nav {
//             width: $full-menu-min-size;
//         }

//         > .main {
//             margin-left: $full-menu-min-size;
//             > .top-filter.fixed {
//                 left: $full-menu-min-size;
//             }
//         }

//         > footer.feedback {
//             left: $full-menu-min-size;
//         }
//     }
// }

// @include media($full-menu-max-size-bp) {
//     div.layout {

//         > nav {
//             width: $full-menu-max-size;
//         }

//         > .main {
//             margin-left: $full-menu-max-size;
//             > .top-filter.fixed {
//                 left: $full-menu-max-size;
//             }
//         }

//         > footer.feedback {
//             left: $full-menu-max-size;
//         }
//     }
// }

// @include media($full-filter-size-bp-1-no-act) {
//     .main-content-list.filter-1,
//     .top-filter.filter-1 {
//         min-width: 30em;

//         .select button {
//             span {
//                 max-width: 10em / 1.5;
//             }

//             &.active span {
//                 min-width: 10em / 1.5;
//             }
//         }
//     }

//     .top-filter.filter-1 {
//         .filters {
//             > i {
//                 display: inline-block;

//                 &.show {
//                     margin: (($header-height - 1.5rem) / 4.5) .5em / -2 0 .5em / 2;
//                 }
//             }

//             > span {
//                 width: 0;
//                 opacity: 0;
//             }

//         }
//     }
// }

// @include media($full-filter-size-bp-2) {
//     .main-content-list.filter-2,
//     .top-filter.filter-2 {
//         min-width: 60em;

//         .select button {
//             span {
//                 max-width: 10em / 1.5;
//             }

//             &.active span {
//                 min-width: 10em / 1.5;
//             }
//         }
//     }

//     .top-filter.filter-2 {
//         .filters {
//             > i {
//                 display: inline-block;

//                 &.show {
//                     margin: (($header-height - 1.5rem) / 4.5) .5em / -2 0 .5em / 2;
//                 }
//             }

//             > span {
//                 width: 0;
//                 opacity: 0;
//             }
//         }
//     }
// }

// @include media($full-title-size-bp-1) {

//     .top-filter .title > span.verbose {
//         width: 0;
//         opacity: 0;
//     }
// }
