$error-color:                           $light-red;
$notice-color:                          $yellow;
$alert-color:                           $orange;
$success-color:                         $green;
$default-feedback-bg-color:             $gray;

// layout colors
$hero-notice-font-size:                 2em;
$hero-notice-top:                       3em;

$badge-radius:                          .3em;


// layout formatting
$layout-columns:                        24;
$layout-menu-col:                       5;
$layout-main-col-w:                     19;
$layout-main-col-r:                     13;
$layout-details-col:                    6;

$layout-feedback-size:                  1.2em;
$layout-feedback-padding:               .5em 0;
$layout-feedback-height:                3.5em;
$header-account-name-pad:               .8em;
$header-account-first-size:             .9em;
$header-account-first-lh:               .5em;
$header-account-last-size:              1.2em;
$header-account-img-size:               3em;
$header-account-img-pad:                .5em;

// login formatting
$login-font-size:                       modular-scale(1, 1rem, $perfect-fifth);
$login-title-font-size:                 modular-scale(1, 2rem, $octave);
$login-subtitle-font-size:              modular-scale(1, 1rem, $major-tenth);

// loader formatting
$loader-font-size:                      modular-scale(1, 1rem, $perfect-fifth);

// section formatting
$section-header-font-size:              1.5rem;
$section-header-icon-top:               .5em;
$section-header-icon-size:              1.95em;
$section-header-input-width:            20em;
$section-list-side-padding:             1em;
$section-list-icon-left:                0.53333em;
$section-list-icon-left-invert:         0.6026629em;
$section-list-text-pad:                 $section-list-icon-left;
$section-list-icon-text-pad:            3.51562em;
$section-list-input-width:              10em;
$section-list-input-padding:            .5em;
$section-list-input-margin:             -.3em;

// filter buttons
$filter-button-padding:                 .5em;
$filter-button-border:                  none;
$filter-button-margin-top:              .45em;
$filter-select-margin-top:              .35em;

// filter select list formatting and colors
$select-list-border-width:              .1em;
$select-list-font-size:                 1.1em;
$select-list-button-max-width:          10em;
$select-list-max-height:                12em;
$select-list-border:                    lighten($gray, 10%) $select-list-border-width solid;
$select-list-button-padding:            .4em;
$select-list-button-border:             $light-gray 2px solid;
$select-list-hl-button-border:          $white 2px solid;
$select-list-placeholder-border:        $light-gray 1px dashed;

// content list formatting and colors
$content-list-item-spacing:             2px;
$content-list-det-actions-top:          .7em;

$content-list-1-button-margin-top:      .3em;
$content-list-1-select-margin-top:      .2em;
$content-list-item-1-height:            3.16128rem;
$content-list-item-1-font-size:         1.333rem;
$content-list-item-1-icon-size:         1.778em;
$content-list-item-1-progress-size:     1.75em; // to avoid rounding errors we make this a simple number
$content-list-item-1-icon-top:          .4em;
$content-list-item-1-icon-left:         1.25;
$content-list-item-1-com-font-size:     1rem;
$content-list-item-action-icon-size:    modular-scale(1, 1rem, $minor-sixth);
$content-list-item-action-icon-top:     .1em;

$content-list-2-button-margin-top:      .27em;
$content-list-2-select-margin-top:      .17em;
$content-list-item-2-height:            2.77889rem;
$content-list-item-2-det-height:        3.77889rem;
$content-list-item-2-font-size:         1.2rem;
$content-list-item-2-icon-size:         modular-scale(1, 1rem, $minor-seventh);
$content-list-item-2-progress-size:     1.5em; // to avoid rounding errors we make this a simple number
$content-list-item-2-icon-top:          .25em;
$content-list-item-2-icon-left:         1.75;
$content-list-item-2-progress-top:      .4em;

$content-list-3-button-margin-top:      .20em;
$content-list-3-select-margin-top:      .10em;
$content-list-item-3-spacing:           1px;

$tooltip-border-radius:                 .3em;

// sidebar formatting
$sidebar-expanded-width:                19em;
$sidebar-collapsed-width:               3em;
