<div class="top-filter filter-1" ng-class="{'active':reports.selectedItem.isNoItemSelected()}" ng-click="reports.selectedItem.clearSelectedItem()" ng-controller="ReportFilterCtrl as filter">
    <div class="filters">
        <i class="fa fa-check-square-o" ng-class="{'inactive':!reports.filter.status.ids.length}"></i>
        <span translate="RUNNER.REPORTS.FILTER.BEFORE_STATUS"></span>
        <div class="select" filter-select="filter.statuses" filter-id="reports.filter.status.id" placeholder="filter.statusPlaceholder" default="filter.statusesDefault" max-items="{{::reports.maxSelectItems}}"></div>
    </div>
</div>
<div class="search ng-hide" ng-show="initialized()" search></div>
<ul id="report-list" class="main-content-list story-list filter-1 report-list">
    <li class="ic cl list-animate" ng-repeat="runReport in filteredReports = (reportList() | reportPaginationFilter:reports.currentPage:reports.maxReports) track by runReport.id">
        <div class="selectable detailed" ng-click="reports.get(runReport.id)">
            <div class="title">
                <i class="fa" ng-class="runReport.status" data-toggle="collection"></i>
                <span class="separate">{{::runReport.title}}</span>
            </div>
            <div class="comments">
                <span>#{{::runReport.id}}</span>
                <span>-</span>
                <span>{{::runReport.runtime}}</span>
                <strong class="hint--left separate" data-hint="{{::runReport.environment.name}}"><i class="fa fa-globe"></i></strong>
                <strong class="hint--left" data-hint="{{::runReport.startedBy.name}}"><i class="fa fa-user"></i></strong>
            </div>
        </div>
    </li>
</ul>
<h1 class="hero-notice" translate="RUNNER.REPORTS.NO_REPORTS" ng-show="filteredReports.length === 0 && initialized()"></h1>
<div pagination class="pagination appear-delayed" has-next="reports.hasMorePages" current-page="reports.currentPage" list-ref="reports.reportListRef" />
