<div class="top-filter filter-1 selectable" ng-class="{'active':running.selectedItem === null}" ng-click="running.selectedItem = null" ng-controller="RunningFilterCtrl as filter">
    <div class="filters">
        <i class="fa fa-globe" ng-class="{'inactive':!running.filter.env.keys.length}"></i>
        <span translate="RUNNER.RUNNING.FILTER.BEFORE_ENVIRONMENT"></span>
        <div class="select" filter-select="filter.environments" filter-id="running.filter.env.id" placeholder="filter.envPlaceholder" max-items="{{::running.maxSelectItems}}"></div>
    </div>
    <div class="actions">
        <button class="hint--left" data-hint="{{::'RUNNER.RUNNING.FILTER.PURGE_EXPLAIN' | translate}}" ng-click="running.purge()">
            <i class="fa fa-recycle"></i>
            <span translate="RUNNER.RUNNING.FILTER.PURGE"></span>
        </button>
    </div>
</div>
<ul id="run-list" story-collapse class="main-content-list filter-1 running-list">
    <li class="ic cl list-animate" ng-repeat="run in filteredRuns = (runs() | runEnvironmentFilter:running.filter.env.ids) track by run.id">
        <div>
            <div class="title limited">
                <div class="radial-progress" data-toggle="collection" progress="run.percentage" highlight="run.highlight"></div>
                <span class="separate">{{::run.title}}</span>
            </div>
            <div class="comments">
                <span>#{{::run.id}}</span>
                <span>-</span>
                <span>{{run.runtime}}</span>
                <strong class="hint--left separate" data-hint="{{::run.environment.name}}"><i class="fa fa-globe"></i></strong>
                <strong class="hint--left" data-hint="{{::run.startedBy.name}}"><i class="fa fa-user"></i></strong>
            </div>
        </div>
        <ul class="running-list--items">
            <li class="ic cl" ng-repeat="story in run.stories track by (run.id+'-'+story.id)">
                <div class="selectable" ng-class="{'active':running.selectedItem === 'story-'+run.id+'-'+story.id}" ng-click="running.selectedItem = 'story-'+run.id+'-'+story.id" data-toggle="story">
                    <div class="title">
                        <div class="radial-progress" progress="story.percentage" highlight="story.highlight"></div>
                        <span class="separate">{{::story.title}}</span>
                    </div>
                </div>
                <ul class="running-list--item-detail">
                    <li class="ic cl" ng-repeat="scenario in story.scenarios track by (run.id+'-'+scenario.id)">
                        <div class="selectable detailed {{scenario.highlight}}" ng-class="{'active':running.selectedItem === 'scenario-'+run.id+'-'+scenario.id}" ng-click="running.selectedItem = 'scenario-'+run.id+'-'+scenario.id">
                            <div class="title">
                                <div class="radial-progress" progress="scenario.percentage" highlight="scenario.highlight"></div>
                                <span class="separate">{{::scenario.title}}</span>
                            </div>
                            <div class="details">
                                <span class="legend">{{scenario.messagePrefix}}</span>
                                <span>{{scenario.message}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<h1 class="hero-notice" translate="RUNNER.RUNNING.NO_RUNS" ng-show="runs().length === 0"></h1>
